### Importing necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Importing Train Data

In [2]:
data = pd.read_csv("train_factors-1573207730757.csv",header = 0)

### Importing JSON Data

In [3]:
import json
from pandas.io.json import json_normalize
with open('train_data-1573118738755.json') as f:
    d = json.load(f)
json1 = json_normalize(d['records'])
json1.head(5)

json1.to_csv('json1.csv',index=False)

In [4]:
json_data = pd.read_csv("json1.csv",header =0)

In [266]:
pd.set_option('display.max_colwidth',-1)
json_data.head()

,stocktwit_tweet,sentiment_score,ticker,date,time
764838,aaba option volume be x normal on friday with contract call volume be and put volume be,2,aaba,2018-07-01,00:33:49
851945,aal b enterprise value v b market cap a b difference of actual asset v market value too big a spread way undervalue,3,aal,2018-07-01,02:24:23
698796,aal in put from last week target zone marked,2,aal,2018-07-01,03:46:03
346176,aal it s undervalue but will go low,1,aal,2018-07-01,14:23:02
912078,aal look way oversold,3,aal,2018-07-01,21:37:32

In [6]:
json_data.stocktwit_tweet = json_data.stocktwit_tweet.apply(lambda x:str(x))

In [265]:
json_data.head()

,stocktwit_tweet,sentiment_score,ticker,date,time
764838,aaba option volume be x normal on friday with contract call volume be and put volume be,2,aaba,2018-07-01,00:33:49
851945,aal b enterprise value v b market cap a b difference of actual asset v market value too big a spread way undervalue,3,aal,2018-07-01,02:24:23
698796,aal in put from last week target zone marked,2,aal,2018-07-01,03:46:03
346176,aal it s undervalue but will go low,1,aal,2018-07-01,14:23:02
912078,aal look way oversold,3,aal,2018-07-01,21:37:32

In [264]:
json_data['stocktwit_tweet'] = json_data['stocktwit_tweet'].str.replace('http\S*',"",case=False)
json_data.head()

,stocktwit_tweet,sentiment_score,ticker,date,time
764838,aaba option volume be x normal on friday with contract call volume be and put volume be,2,aaba,2018-07-01,00:33:49
851945,aal b enterprise value v b market cap a b difference of actual asset v market value too big a spread way undervalue,3,aal,2018-07-01,02:24:23
698796,aal in put from last week target zone marked,2,aal,2018-07-01,03:46:03
346176,aal it s undervalue but will go low,1,aal,2018-07-01,14:23:02
912078,aal look way oversold,3,aal,2018-07-01,21:37:32

In [9]:
json_data.stocktwit_tweet = json_data.stocktwit_tweet.str.replace(r'\\\w{3}',"")

In [263]:
json_data.head()

,stocktwit_tweet,sentiment_score,ticker,date,time
764838,aaba option volume be x normal on friday with contract call volume be and put volume be,2,aaba,2018-07-01,00:33:49
851945,aal b enterprise value v b market cap a b difference of actual asset v market value too big a spread way undervalue,3,aal,2018-07-01,02:24:23
698796,aal in put from last week target zone marked,2,aal,2018-07-01,03:46:03
346176,aal it s undervalue but will go low,1,aal,2018-07-01,14:23:02
912078,aal look way oversold,3,aal,2018-07-01,21:37:32

In [262]:
json_data.stocktwit_tweet = json_data.stocktwit_tweet.str.replace("[^a-zA-Z]", " ")
json_data.head()

,stocktwit_tweet,sentiment_score,ticker,date,time
764838,aaba option volume be x normal on friday with contract call volume be and put volume be,2,aaba,2018-07-01,00:33:49
851945,aal b enterprise value v b market cap a b difference of actual asset v market value too big a spread way undervalue,3,aal,2018-07-01,02:24:23
698796,aal in put from last week target zone marked,2,aal,2018-07-01,03:46:03
346176,aal it s undervalue but will go low,1,aal,2018-07-01,14:23:02
912078,aal look way oversold,3,aal,2018-07-01,21:37:32

In [12]:
json_data.isnull().sum()

stocktwit_tweet    0
sentiment_score    0
timestamp          0
ticker             0
dtype: int64

In [13]:
json_data['ticker'].unique().tolist()

['$AMD',
 '$CAT',
 '$AVGO',
 '$PH',
 '$FB',
 '$AET',
 '$NOC',
 '$AMZN',
 '$NFLX',
 '$gww',
 '$AAPL',
 '$ANTM',
 '$NWL',
 '$mu',
 '$MU',
 '$EIX',
 '$amzn',
 '$MSFT',
 '$GE',
 '$URI',
 '$DUK',
 '$LUV',
 '$HAL',
 '$SHLD',
 '$COST',
 '$BHGE',
 '$LRCX',
 '$AAL',
 '$BK',
 '$PYPL',
 '$CMA',
 '$LLY',
 '$GPN',
 '$NTAP',
 '$STI',
 '$DLTR',
 '$KO',
 '$LB',
 '$INTC',
 '$T',
 '$NVDA',
 '$GOOGL',
 '$JNJ',
 '$BA',
 '$RIG',
 '$WYND',
 '$JCP',
 '$NDAQ',
 '$PEP',
 '$AYI',
 '$GILD',
 '$MNK',
 '$LMT',
 '$EA',
 '$BKNG',
 '$BAC',
 '$CELG',
 '$EOG',
 '$CAG',
 '$TXN',
 '$WU',
 '$WDC',
 '$APH',
 '$MCO',
 '$ADS',
 '$AGN',
 '$DVN',
 '$HES',
 '$CMG',
 '$unh',
 '$COG',
 '$SYK',
 '$HD',
 '$S',
 '$AES',
 '$NKE',
 '$BIIB',
 '$JD',
 '$ETFC',
 '$F',
 '$MA',
 '$CHK',
 '$BBT',
 '$ADBE',
 '$DNR',
 '$CLF',
 '$swk',
 '$MCHP',
 '$XLNX',
 '$SWN',
 '$VIAB',
 '$JPM',
 '$EBAY',
 '$CBS',
 '$SYMC',
 '$PG',
 '$SHW',
 '$DIS',
 '$BMS',
 '$ILMN',
 '$GRMN',
 '$t',
 '$MDLZ',
 '$WMB',
 '$VZ',
 '$CRM',
 '$A',
 '$nrg',
 '$KR',
 '$MCD',
 '$O',
 '$GOOG',
 '$ORLY',
 '$AXP',
 '$DWDP',
 '$XRX',
 '$STX',
 '$BDX',
 '$UAA',
 '$K',
 '$adbe',
 '$XOM',
 '$GWW',
 '$HBI',
 '$MS',
 '$QCOM',
 '$ATVI',
 '$TMUS',
 '$SNA',
 '$MMM',
 '$BLK',
 '$ISRG',
 '$CSX',
 '$CI',
 '$M',
 '$v',
 '$VLO',
 '$JWN',
 '$SCHW',
 '$cat',
 '$OMC',
 '$AMAT',
 '$RF',
 '$IBM',
 '$DHI',
 '$SWKS',
 '$AWK',
 '$ADI',
 '$V',
 '$MTB',
 '$TSN',
 '$ULTA',
 '$AMGN',
 '$MDT',
 '$WMT',
 '$MON',
 '$ENDP',
 '$YUM',
 '$fb',
 '$CL',
 '$UPS',
 '$ATI',
 '$GM',
 '$CXO',
 '$PLD',
 '$PPL',
 '$GME',
 '$UNH',
 '$WFC',
 '$INFO',
 '$XRAY',
 '$STZ',
 '$HBAN',
 '$GS',
 '$uaa',
 '$APD',
 '$LOW',
 '$lrcx',
 '$FTI',
 '$amt',
 '$PCG',
 '$ACN',
 '$GIS',
 '$WM',
 '$AKAM',
 '$MOS',
 '$GPS',
 '$ANF',
 '$FL',
 '$CVX',
 '$CTSH',
 '$LEN',
 '$TAP',
 '$GLW',
 '$MYL',
 '$AVP',
 '$VMC',
 '$ADM',
 '$HAS',
 '$CNP',
 '$omc',
 '$NEM',
 '$wynn',
 '$RE',
 '$MKC',
 '$JBL',
 '$ROK',
 '$QQQ',
 '$CMI',
 '$DHR',
 '$WHR',
 '$CVS',
 '$SNPS',
 '$C',
 '$R',
 '$RL',
 '$WYNN',
 '$SPGI',
 '$VTR',
 '$CHD',
 '$X',
 '$STLD',
 '$CBOE',
 '$DNB',
 '$ORCL',
 '$ABC',
 '$QRVO',
 '$BABA',
 '$mnst',
 '$ibm',
 '$ABBV',
 '$SBUX',
 '$ARNC',
 '$CSCO',
 '$WPX',
 '$EMN',
 '$CMS',
 '$PNW',
 '$FTR',
 '$UNP',
 '$PM',
 '$CMCSA',
 '$APC',
 '$SPY',
 '$HPE',
 '$MNST',
 '$MGM',
 '$PRGO',
 '$CDNS',
 '$FDX',
 '$SRCL',
 '$WBA',
 '$DISH',
 '$PGR',
 '$ual',
 '$TER',
 '$NI',
 '$ABT',
 '$CNX',
 '$EXPE',
 '$SWK',
 '$RHT',
 '$AEE',
 '$EMR',
 '$IVZ',
 '$BBY',
 '$BMY',
 '$SO',
 '$ALB',
 '$LLL',
 '$ES',
 '$FAST',
 '$sbux',
 '$TRV',
 '$KORS',
 '$COP',
 '$KEY',
 '$intu',
 '$INCY',
 '$CCL',
 '$PBI',
 '$celg',
 '$MAT',
 '$PFE',
 '$slb',
 '$VRSK',
 '$Amzn',
 '$dis',
 '$BEN',
 '$VIAV',
 '$JNPR',
 '$SLB',
 '$CTXS',
 '$NBR',
 '$AVB',
 '$UAL',
 '$GT',
 '$SIG',
 '$AN',
 '$ALGN',
 '$AMT',
 '$AZO',
 '$DAL',
 '$KSS',
 '$FLIR',
 '$aapl',
 '$GD',
 '$pvh',
 '$mdt',
 '$AFL',
 '$CB',
 '$GNW',
 '$BBBY',
 '$ESRX',
 '$Googl',
 '$MET',
 '$IPG',
 '$NEE',
 '$WIN',
 '$LM',
 '$WY',
 '$LH',
 '$ADSK',
 '$FTV',
 '$dhi',
 '$PBCT',
 '$CNC',
 '$amd',
 '$TPR',
 '$nflx',
 '$KMI',
 '$SYY',
 '$FCX',
 '$STT',
 '$DFS',
 '$TGT',
 '$SPX',
 '$ge',
 '$HSY',
 '$FOSL',
 '$HOG',
 '$nwsa',
 '$AON',
 '$MCK',
 '$bbby',
 '$KHC',
 '$msft',
 '$TRIP',
 '$EVHC',
 '$VRTX',
 '$FISV',
 '$RHI',
 '$ALXN',
 '$MO',
 '$FITB',
 '$AMG',
 '$goog',
 '$URBN',
 '$DRYS',
 '$nke',
 '$DE',
 '$len',
 '$ALL',
 '$SYF',
 '$LEG',
 '$HON',
 '$ALK',
 '$TJX',
 '$DG',
 '$KMX',
 '$FSLR',
 '$NFX',
 '$KSU',
 '$WEC',
 '$EQIX',
 '$MAR',
 '$ROST',
 '$EQT',
 '$axp',
 '$CTL',
 '$HRS',
 '$UTX',
 '$APA',
 '$ESS',
 '$WRK',
 '$BLL',
 '$SGMS',
 '$QEP',
 '$HPQ',
 '$MUR',
 '$WFM',
 '$RSG',
 '$PDCO',
 '$gm',
 '$NTRS',
 '$TIF',
 '$VTNR',
 '$FIS',
 '$FFIV',
 '$RTN',
 '$NUE',
 '$pypl',
 '$FRT',
 '$IFF',
 '$XEL',
 '$HRB',
 '$ADP',
 '$CERN',
 '$FBHS',
 '$NBL',
 '$luv',
 '$COF',
 '$ROP',
 '$JBHT',
 '$TEL',
 '$x',
 '$RMD',
 '$FHN',
 '$HOLX',
 '$COTY',
 '$PKI',
 '$EXC',
 '$PKG',
 '$ALLE',
 '$TSS',
 '$OXY',
 '$IP',
 '$esrx',
 '$nfx',
 '$D',
 '$BSX',
 '$DOV',
 '$ECL',
 '$HIG',
 '$MPC',
 '$MSI',
 '$ma',
 '$TGNA',
 '$ARE',
 '$DVA',
 '$ETN',
 '$MHK',
 '$MTCH',
 '$mnk',
 '$KIM',
 '$FE',
 '$CME',
 '$CLX',
 '$ame',
 '$HII',
 '$DRI',
 '$USB',
 '$VRSN',
 '$RRC',
 '$AEP',
 '$KMB',
 '$adsk',
 '$pru',
 '$AAP',
 '$IDXX',
 '$DXC',
 '$c',
 '$VFC',
 '$aal',
 '$PVH',
 '$CAH',
 '$ko',
 '$NWSA',
 '$SCG',
 '$PSX',
 '$BCR',
 '$HCA',
 '$mar',
 '$ED',
 '$PNC',
 '$lmt',
 '$GHC',
 '$apc',
 '$OKE',
 '$BAX',
 '$PRU',
 '$TDC',
 '$CTAS',
 '$UHS',
 '$NOW',
 '$RDC',
 '$NOV',
 '$HST',
 '$IMAX',
 '$qcom',
 '$ZBH',
 '$NCLH',
 '$px',
 '$THC',
 '$DF',
 '$EW',
 '$XYL',
 '$GGP',
 '$COO',
 '$bac',
 '$IR',
 '$LNC',
 '$NE',
 '$BIG',
 '$fcx',
 '$TMK',
 '$RCL',
 '$ZTS',
 '$wmt',
 '$IQV',
 '$XL',
 '$GPC',
 '$INTU',
 '$BWA',
 '$MRK',
 '$TOPS',
 '$gis',
 '$COL',
 '$HCP',
 '$TWTR',
 '$PXD',
 '$CF',
 '$SVU',
 '$HCN',
 '$pcg',
 '$FLR',
 '$SPG',
 '$algn',
 '$NSC',
 '$EL',
 '$CPB',
 '$googl',
 '$NOK',
 '$JEC',
 '$Cat',
 '$APTV',
 '$CVRR',
 '$ITW',
 '$xec',
 '$zbh',
 '$XEC',
 '$HOT',
 '$BJ',
 '$HRL',
 '$MLM',
 '$NAVI',
 '$TRXC',
 '$SLM',
 '$REG',
 '$EXPD',
 '$tif',
 '$csco',
 '$TXT',
 '$REGN',
 '$bkng',
 '$DPS',
 '$cnx',
 '$lb',
 '$PX',
 '$atvi',
 '$BHF',
 '$LYB',
 '$UDR',
 '$HUM',
 '$BXP',
 '$k',
 '$chk',
 '$AABA',
 '$TDG',
 '$IT',
 '$pep',
 '$SBAC',
 '$VGR',
 '$FLS',
 '$ETR',
 '$txt',
 '$AMP',
 '$VNO',
 '$MRO',
 '$tmo',
 '$AIZ',
 '$LKQ',
 '$AJG',
 '$swks',
 '$AME',
 '$IRM',
 '$AIG',
 '$wy',
 '$SJM',
 '$PFG',
 '$TSM',
 '$DO',
 '$CURO',
 '$FII',
 '$SPLS',
 '$intc',
 '$CA',
 '$avgo',
 '$hd',
 '$nvda',
 '$gpc',
 '$nwl',
 '$stz',
 '$PCLN',
 '$bax',
 '$MTD',
 '$WLTW',
 '$CHRW',
 '$jcp',
 '$xlnx',
 '$AKS',
 '$PAYX',
 '$ATGE',
 '$PHM',
 '$SEE',
 '$ESV',
 '$DISCA',
 '$AVY',
 '$KLAC',
 '$ea',
 '$iqv',
 '$BKD',
 '$tsla',
 '$gild',
 '$dwdp',
 '$COH',
 '$chd',
 '$MAC',
 '$STAY',
 '$NRG',
 '$HLG',
 '$PETQ',
 '$ZION',
 '$cboe',
 '$DLR',
 '$PPG',
 '$TSLA',
 '$PWR',
 '$WAT',
 '$avp',
 '$CFG',
 '$AOS',
 '$EBS',
 '$DTE',
 '$swn',
 '$ip',
 '$TMO',
 '$WELL',
 '$ccl',
 '$rig',
 '$XENE',
 '$PEG',
 '$CCI',
 '$bby',
 '$ba',
 '$ICE',
 '$kors',
 '$DGX',
 '$RWT',
 '$AAPl',
 '$HLT',
 '$mos',
 '$schw',
 '$DD',
 '$ANDV',
 '$HP',
 '$HSIC',
 '$Mu',
 '$CHTR',
 '$cpb',
 '$pfe',
 '$UNM',
 '$PSA',
 '$AXR',
 '$anf',
 '$Big',
 '$tgt',
 '$EFX',
 '$kmb',
 '$NLSN',
 '$LNT',
 '$TDOC',
 '$SRE',
 '$etfc',
 '$rrd',
 '$adp',
 '$vz',
 '$EQR',
 '$ANSS',
 '$FDC',
 '$OI',
 '$wdc',
 '$abbv',
 '$jbl',
 '$CAM',
 '$dal',
 '$WDAY',
 '$TCTZF',
 '$RJF',
 '$cmg',
 '$LDOS',
 '$oi',
 '$CSRA',
 '$CVC',
 '$MAA',
 '$clf',
 '$MMC',
 '$SNAP',
 '$CINF',
 '$$amd',
 '$NBEV',
 '$dnr',
 '$kss',
 '$fslr',
 '$EXR',
 '$kr',
 '$ROKU',
 '$Crm',
 '$CBRE',
 '$EEQ',
 '$dish',
 '$dri',
 '$cag',
 '$FNKO',
 '$lly',
 '$SLG',
 '$TROW',
 '$unm',
 '$expe',
 '$alb',
 '$syy',
 '$SFIX',
 '$PCAR',
 '$mcd',
 '$cb',
 '$CNDT',
 '$JCI',
 '$wfc',
 '$MRVL',
 '$mhk',
 '$GALT',
 '$MAS',
 '$whr',
 '$$AAPL',
 '$coty',
 '$orcl',
 '$DRE',
 '$svu',
 '$TSCO',
 '$amgn',
 '$NVRO',
 '$lll',
 '$ms',
 '$mchp',
 '$VAR',
 '$mur',
 '$nue',
 '$PNR',
 '$low',
 '$Fb',
 '$s',
 '$hon',
 '$IEP',
 '$trv',
 '$uri',
 '$AIV',
 '$m',
 '$jpm',
 '$cfg',
 '$amat',
 '$FMC',
 '$JEF',
 '$CSC',
 '$wba',
 '$INGN',
 '$tsn',
 '$fdx',
 '$aee',
 '$xom',
 '$PHG',
 '$ZUO',
 '$it',
 '$SQ',
 '$Nflx',
 '$cvx',
 '$isrg',
 '$dva',
 '$SMRT',
 '$SSNNF',
 '$ftr',
 '$YANG',
 '$endp',
 '$f',
 '$zion',
 '$ARNA',
 '$POM',
 '$RRD',
 '$LLTC',
 '$gme',
 '$crm',
 '$BB',
 '$Dal',
 '$dltr',
 '$txn',
 '$psa',
 '$ilmn',
 '$gs',
 '$aaba',
 '$TEG',
 '$VLY',
 '$pfg',
 '$STJ',
 '$pgr',
 '$cbre',
 '$mrk',
 '$fosl',
 '$mat',
 '$L',
 '$cmcsa',
 '$ERJ',
 '$aph',
 '$NAKD',
 '$TWX',
 '$NR',
 '$jnj',
 '$QTT',
 '$TLRY',
 '$GRPN',
 '$spy',
 '$cost',
 '$noc',
 '$irm',
 '$IQ',
 '$rdc',
 '$AIR',
 '$ulta',
 '$esv',
 '$PF',
 '$NLST',
 '$has',
 '$ctas',
 '$andv',
 '$bhf',
 '$PETM',
 '$nov',
 '$NITE',
 '$hal',
 '$Dis',
 '$PLAB',
 '$regn',
 '$CE',
 '$specialty$',
 '$blk',
 '$VKTX',
 '$kmi',
 '$jbht',
 '$ebay',
 '$mro',
 '$es',
 '$qrvo',
 '$mdlz',
 '$Hon',
 '$baba',
 '$biib',
 '$nsc',
 '$SPXL',
 '$NTR',
 '$MELI',
 '$WRB',
 '$OGEN',
 '$STSY',
 '$mpc',
 '$FIT',
 '$kmx',
 '$tjx',
 '$myl',
 '$WAG',
 '$Amd',
 '$flir',
 '$EDGE',
 '$JOY',
 '$hum',
 '$AMZn',
 '$SOGO',
 '$df',
 '$hrs',
 '$symc',
 '$SGYP',
 '$pnc',
 '$IGV',
 '$glw',
 '$stx',
 '$SEDG',
 '$aig',
 '$agn',
 '$coo',
 '$de',
 '$ldos',
 '$mtd',
 '$LXK',
 '$ir',
 '$UXIN',
 '$met',
 '$RRGB',
 '$cvs',
 '$ATRS',
 '$jwn',
 '$azo',
 '$SUM',
 '$orly',
 '$Intc',
 '$gd',
 '$DJIA',
 '$fti',
 '$AMH',
 '$alxn',
 '$PCRFY',
 '$MZRTF',
 '$lnc',
 '$IBB',
 '$cme',
 '$vlo',
 '$rht',
 '$AMTD',
 '$rost',
 '$so',
 '$arnc',
 '$ads',
 '$rcl',
 '$TEVA',
 '$WEED',
 '$ci',
 '$USD',
 '$pnr',
 '$WBS',
 '$BAH',
 '$key',
 '$spg',
 '$TISI',
 '$FPL',
 '$VST',
 '$TK',
 '$ENPH',
 '$nbr',
 '$FRED',
 '$aos',
 '$shw',
 '$WMC',
 '$cmi',
 '$ndaq',
 '$UNFI',
 '$ups',
 '$VMW',
 '$dgx',
 '$DMRC',
 '$trip',
 '$thc',
 '$WHD',
 '$GLD',
 '$SUPV',
 '$exr',
 '$ACST',
 '$ATT',
 '$VG',
 '$Gs',
 '$KEYS',
 '$PLL',
 '$APOL',
 '$viab',
 '$aep',
 '$SODA',
 '$sig',
 '$SPWR',
 '$SELB',
 '$usb',
 '$chtr',
 '$HABT',
 '$gps',
 '$unp',
 '$pdco',
 '$TCEHY',
 '$MNKD',
 '$CBG',
 '$ftv',
 '$tndm',
 '$fast',
 '$RAI',
 '$Ups',
 '$eix',
 '$RYN',
 '$Z',
 '$mgm',
 '$cern',
 '$incy',
 '$ABIL',
 '$cma',
 '$DPW',
 '$HAR',
 '$pg',
 '$SHOP',
 ...]

In [14]:
for i,j in zip(json_data['ticker'].value_counts().index,json_data['ticker'].value_counts().values):
    print(i,j)

$AMD 163675
$MU 82680
$AMZN 68155
$FB 65148
$AAPL 49561
$NFLX 45403
$NVDA 20532
$GE 19772
$MSFT 15531
$NKE 14785
$CHK 11507
$F 9918
$T 9785
$BAC 8396
$CLF 8366
$INTC 7687
$DIS 6215
$PYPL 6092
$JCP 6045
$GOOGL 5947
$SHLD 5841
$AVGO 5572
$ATVI 5351
$CELG 5341
$WMT 4998
$BA 4972
$DNR 4404
$JPM 4398
$X 4252
$V 4070
$CMG 4052
$CRM 4031
$AMAT 4018
$IBM 4014
$GS 3969
$LRCX 3446
$GILD 3429
$EA 3339
$EBAY 3331
$SBUX 3318
$WYNN 3188
$CAT 3018
$GOOG 2998
$HD 2895
$ADBE 2802
$UAA 2771
$AAL 2708
$ABBV 2635
$LMT 2612
$MCD 2611
$COST 2504
$WDC 2501
$C 2486
$NWL 2359
$JNJ 2339
$SWN 2318
$CSCO 2234
$M 2215
$GM 2139
$ENDP 2076
$amd 2047
$RHT 2042
$LB 2035
$BKNG 2000
$QCOM 1981
$JWN 1935
$MA 1907
$ISRG 1891
$ORCL 1879
$GME 1878
$PFE 1840
$WFC 1817
$FSLR 1805
$STZ 1794
$MNK 1790
$BBBY 1781
$MS 1645
$FCX 1642
$VZ 1605
$KR 1593
$DLTR 1582
$CVS 1569
$BIIB 1553
$ALGN 1539
$FDX 1530
$mu 1517
$TGT 1506
$DAL 1495
$LOW 1491
$RIG 1394
$KO 1390
$FL 1390
$PEP 1383
$BBY 1379
$MGM 1368
$RTN 1323
$PG 1308
$SYMC 1243
$CTL 1234
$NOC 1231
$S 1208
$XOM 1198
$UAL 1165
$HAL 1159
$TIF 1147
$MMM 1144
$fb 1140
$AVP 1114
$KSS 1110
$aapl 1109
$PM 1105
$FTR 1103
$TXN 1103
$LLY 1102
$DE 1095
$REGN 1084
$LUV 1069
$AXP 1054
$amzn 1053
$BMY 1037
$CMCSA 1009
$KMI 983
$MRK 966
$ULTA 965
$URI 964
$MRO 922
$nflx 920
$AMGN 915
$BLK 910
$MO 908
$ADSK 899
$ILMN 888
$CSX 886
$SWKS 884
$CVX 870
$GPS 870
$CBS 858
$UPS 852
$DISH 843
$WBA 841
$SIG 840
$GIS 834
$URBN 828
$EXPE 819
$KORS 819
$TMUS 811
$AGN 797
$UNH 797
$SLB 791
$ANF 771
$TJX 771
$HAS 768
$FAST 767
$NBR 764
$CPB 759
$BSX 740
$COP 737
$LEN 728
$XLNX 723
$HOG 722
$ALB 722
$FOSL 714
$MYL 713
$STX 709
$GLW 704
$MDT 702
$ARNC 701
$WHR 699
$KHC 690
$BIG 677
$NTAP 676
$DVN 671
$SYF 657
$INTU 653
$DWDP 652
$ABT 652
$TRIP 651
$HPQ 651
$K 641
$HON 636
$VLO 635
$ROST 634
$HPE 634
$RRC 633
$ESV 630
$ALK 630
$DRI 629
$EW 624
$APA 611
$CAG 606
$DG 604
$CI 603
$INCY 603
$ESRX 595
$UNP 595
$PNC 594
$WIN 591
$APC 589
$MCHP 583
$TSN 578
$ACN 572
$SO 560
$QRVO 558
$YUM 557
$EOG 556
$USB 556
$GRMN 552
$AKAM 551
$SCHW 549
$MNST 545
$ALXN 542
$CCL 538
$SYK 538
$AZO 536
$GT 531
$COG 528
$UTX 523
$KMX 522
$DUK 510
$KLAC 510
$HSY 509
$CTSH 500
$MPC 497
$VFC 496
$ge 491
$NUE 491
$FFIV 491
$COTY 490
$GD 489
$HBAN 486
$A 485
$KMB 484
$TXT 482
$ETFC 481
$PVH 479
$STT 478
$EL 478
$PRU 476
$ALL 474
$nvda 473
$BK 473
$CMI 472
$MAT 472
$AIG 471
$GWW 470
$CF 468
$JNPR 467
$NLSN 464
$COF 462
$CTAS 461
$HBI 461
$ADP 461
$KEY 460
$GNW 456
$ORLY 454
$TSCO 454
$ADI 453
$CLX 453
$STI 450
$TRV 448
$IFF 447
$HUM 446
$CAH 445
$PAYX 444
$NEM 442
$CME 442
$HES 440
$OXY 439
$PPG 439
$VRTX 435
$PXD 430
$PSX 429
$MDLZ 425
$DHR 419
$CL 418
$HRS 416
$AABA 415
$ICE 414
$TAP 413
$GPN 413
$D 409
$FTV 409
$DHI 408
$RF 406
$MCO 406
$JBHT 406
$MAR 404
$DVA 404
$ITW 403
$ADS 402
$O 399
$TPR 395
$AYI 395
$EMR 394
$PCG 394
$PGR 392
$RCL 392
$BHGE 389
$MOS 385
$PLD 383
$SHW 382
$AET 380
$WM 377
$SCG 375
$NI 374
$ANTM 372
$MHK 371
$NEE 370
$DFS 366
$MCK 366
$SYY 366
$RL 365
$NDAQ 364
$MKC 363
$HRL 362
$FITB 362
$PHM 361
$CMA 357
$WMB 356
$CNX 356
$CXO 355
$HRB 355
$NCLH 354
$CHTR 352
$DF 351
$VRSK 350
$DISCA 349
$CBOE 346
$ZTS 346
$intc 345
$HCA 344
$VIAB 342
$msft 342
$FMC 342
$SVU 340
$ATI 340
$AAP 339
$BEN 337
$KSU 337
$WPX 336
$DOV 334
$IP 334
$NE 333
$ADM 333
$NSC 333
$TMO 328
$SJM 328
$COO 327
$CTXS 327
$MET 327
$FISV 324
$googl 324
$AFL 322
$SWK 320
$NTRS 320
$PRGO 315
$ROK 313
$EXC 312
$OMC 310
$JBL 307
$LLL 306
$LEG 305
$AES 304
$NRG 304
$CDNS 304
$ABC 302
$BDX 301
$BBT 298
$CERN 298
$SPX 298
$XRAY 297
$AMT 296
$FLR 293
$XEL 293
$RDC 292
$DXC 292
$LYB 291
$PFG 290
$ED 289
$XEC 289
$CA 289
$GGP 288
$PX 287
$CNC 287
$BAX 286
$ea 285
$RMD 285
$t 284
$JEC 284
$VMC 284
$bkng 283
$EQT 281
$HII 279
$HOLX 278
$TDG 277
$MTB 276
$NFX 275
$APH 273
$CCI 272
$SPY 271
$NOV 270
$IDXX 270
$NBL 270
$FE 269
$AN 267
$IVZ 267
$PH 266
$OKE 266
$DO 262
$SPGI 262
$AON 261
$APTV 259
$SPG 259
$AME 259
$XYL 258
$PBI 257
$WYND 256
$SNPS 255
$INFO 255
$CNP 254
$HP 254
$GPC 254
$PCAR 253
$ECL 252
$IQV 252
$HLT 252
$AEP 252
$XRX 249
$LNC 249
$CHD 249
$BWA 248
$SRCL 248
$BLL 247
$PDCO 247
$ETN 243
$IRM 242
$SNA 242
$THC 240
$SRE 240
$WU 240
$VTR 240
$FIS 239
$COL 239
$EQIX 239
$IPG 238
$ROP 238
$EFX 237
$nke 237
$TER 236
$ZION 236
$chk 233
$CB 233
$JCI 233
$BMS 231
$MLM 230
$MAS 230
$CHRW 230
$WRK 229
$SEE 228
$WY 227
$HIG 227
$ba 226
$MSI 224
$AWK 224
$APD 224
$TDC 222
$TSS 222
$FTI 221
$PSA 220
$VIAV 220
$goog 220
$adbe 219
$FLIR 219
$HSIC 218
$LH 216
$AEE 215
$TMK 214
$NWSA 213
$CMS 213
$CFG 212
$LKQ 212
$EMN 211
$DLR 210
$DTE 210
$ZBH 210
$VRSN 210
$PPL 207
$PKI 207
$wmt 206
$VAR 206
$lrcx 205
$AOS 205
$bac 204
$ATGE 204
$wynn 203
$avgo 202
$TROW 201
$QEP 198
$AJG 197
$ETR 194
$ANSS 194
$dis 192
$swk 191
$DGX 191
$MUR 190
$AMG 190
$pypl 187
$AVY 187
$RHI 187
$IR 186
$ANDV 185
$R 184
$TEL 182
$PNR 182
$AMP 182
$UNM 182
$NAVI 182
$FHN 180
$amat 180
$LDOS 180
$WAT 180
$WEC 177
$EXPD 177
$ARE 175
$OI 173
$AIZ 172
$IT 172
$atvi 171
$RSG 171
$PEG 170
$cmg 169
$RRD 169
$EIX 169
$HCP 169
$KIM 168
$SLG 168
$RJF 167
$SLM 166
$WLTW 166
$FBHS 165
$SBAC 163
$TSLA 162
$FLS 162
$PBCT 161
$ES 159
$MMC 159
$EQR 158
$pfe 158
$UDR 153
$L 153
$PKG 152
$BHF 152
$DNB 150
$ESS 149
$ALLE 148
$LM 148
$jpm 147
$UHS 147
$MTD 146
$csco 145
$crm 144
$sbux 144
$PNW 143
$FII 139
$REG 138
$EVHC 134
$WELL 134
$ma 133
$CINF 133
$dal 132
$ibm 131
$c 130
$LNT 129
$celg 129
$HST 128
$wdc 125
$DRE 125
$rig 124
$PWR 123
$AVB 123
$EXR 120
$JEF 118
$xom 116
$f 113
$mcd 112
$stz 112
$hd 111
$CBRE 110
$slb 109
$qcom 108
$cat 107
$TGNA 107
$VNO 106
$BXP 105
$cost 105
$jnj 104
$fslr 102
$cvs 102
$gs 101
$MAA 101
$nwl 100
$lmt 98
$DPS 98
$MON 95
$gild 94
$XL 93
$MAC 93
$v 92
$ual 92
$algn 91
$fdx 91
$RE 91
$de 89
$m 87
$aal 86
$endp 86
$ilmn 86
$TWTR 84
$fcx 84
$whr 81
$len 80
$gm 80
$x 79
$dnr 79
$jcp 77
$low 76
$omc 75
$isrg 74
$rht 74
$ebay 70
$swn 70
$clf 70
$AIV 69
$agn 69
$IQ 67
$FRT 67
$SQ 66
$s 65
$ko 63
$GHC 61
$pep 60
$BABA 58
$unh 57
$lb 57
$tif 57
$cnx 56
$luv 56
$TLRY 55
$bmy 55
$fast 55
$schw 55
$etfc 55
$ulta 54
$wfc 53
$biib 53
$vz 53
$SNAP 53
$hal 52
$Amd 52
$stx 51
$TWX 50
$abbv 50
$uaa 50
$anf 49
$orcl 47
$jwn 47
$hon 47
$alb 46
$mgm 46
$dltr 45
$mnk 45
$alxn 45
$nue 44
$bby 44
$mchp 44
$shld 44
$rtn 44
$HMNY 43
$Fb 43
$csx 42
$rcl 41
$nrg 40
$gme 40
$ms 40
$intu 40
$symc 40
$sig 40
$cvx 40
$gis 39
$Mu 39
$axp 39
$bbby 39
$blk 39
$CGC 39
$TRXC 38
$hpq 37
$pcg 37
$pgr 37
$SPLS 37
$regn 35
$HCN 35
$adsk 35
$tgt 35
$cmcsa 34
$incy 34
$nfx 34
$nbr 34
$esv 34
$AAPl 34
$txn 33
$dhi 33
$mhk 33
$wba 32
$azo 32
$k 32
$cpb 31
$PCLN 31
$mro 31
$kss 31
$a 30
$kr 30
$Amzn 30
$gww 29
$syy 28
$kmx 28
$jbht 28
$WFM 27
$COH 27
$pm 27
$lly 27
$ups 27
$swks 26
$mdlz 26
$fosl 26
$kmi 26
$glw 25
$Aapl 25
$pg 25
$met 25
$DJIA 25
$NBEV 25
$mo 25
$ROKU 24
$jbl 24
$myl 24
$BB 24
$JD 23
$unp 23
$amgn 23
$tjx 23
$FPL 23
$DD 23
$CBG 22
$es 22
$xlnx 22
$exc 22
$dwdp 22
$xrx 21
$cl 21
$sjm 21
$utx 21
$mdt 21
$ftr 20
$HOT 20
$fti 20
$CRON 20
$mnst 19
$tmus 19
$QQQ 19
$SFIX 19
$avp 19
$disca 19
$mos 19
$nwsa 18
$FIT 18
$vfc 18
$hsic 18
$mrk 18
$aap 18
$jnpr 18
$dri 18
$ndaq 18
$coty 17
$vlo 17
$NXPI 17
$alk 17
$noc 16
$unm 16
$akam 16
$hlt 16
$cboe 16
$Nflx 16
$cme 16
$TSM 16
$aep 16
$aaba 16
$qep 16
$bsx 16
$kmb 16
$vtr 16
$txt 16
$aig 16
$expe 15
$pnc 15
$uri 15
$ip 15
$vrtx 15
$syf 15
$cma 15
$rrc 15
$khc 14
$ads 14
$acn 14
$trip 14
$has 14
$cah 13
$usb 13
$tap 13
$ca 13
$HEAR 13
$duk 13
$AKS 13
$GERN 13
$mpc 13
$aph 13
$GAS 13
$antm 12
$arnc 12
$pvh 12
$kors 12
$gps 12
$pru 12
$dg 12
$so 12
$zbh 12
$tss 12
$fl 12
$BCR 11
$bhge 11
$nov 11
$dhr 11
$nee 11
$clx 11
$OSTK 11
$pnr 11
$qrvo 11
$wm 11
$dgx 11
$RAI 11
$mat 11
$klac 11
$hes 11
$oxy 10
$iqv 10
$adm 10
$tsla 10
$tmo 10
$xec 10
$ffiv 10
$apc 10
$sre 10
$ati 10
$LVLT 10
$do 10
$ccl 10
$dish 10
$abt 10
$thc 10
$apa 10
$NLST 10
$adp 9
$POM 9
$trv 9
$shw 9
$fhn 9
$oi 9
$mar 9
$esrx 9
$df 9
$AMZn 9
$eix 9
$nsc 9
$tsn 9
$hum 9
$cb 9
$fe 9
$cmi 9
$CSC 9
$MTCH 9
$amt 9
$TNDM 9
$dva 9
$gd 8
$TEVA 8
$scg 8
$Intc 8
$Nvda 8
$MJN 8
$ksu 8
$ci 8
$NVCN 8
$rrd 8
$ess 8
$psx 8
$NIO 8
$NTNX 8
$PETM 8
$tpr 8
$bdx 8
$DPZ 8
$GMCR 8
$P 7
$ctas 7
$cern 7
$AMd 7
$ctl 7
$FDC 7
$hbi 7
$VKTX 7
$Ge 7
$gpc 7
$Gs 7
$win 7
$Amat 7
$coo 7
$irm 7
$efx 7
$chd 7
$SHOP 7
$rdc 7
$BRY 7
$xray 7
$oke 7
$afl 7
$amp 7
$Cat 7
$bms 7
$Msft 7
$RAD 7
$hpe 7
$cfg 7
$CVC 7
$MNKD 7
$zts 6
$ame 6
$rop 6
$Dal 6
$bk 6
$MSFt 6
$spy 6
$SGYP 6
$$AAPL 6
$ne 6
$peg 6
$NTR 6
$TTWO 6
$INNT 6
$hrs 6
$cbs 6
$EMC 6
$payx 6
$pdco 6
$EBS 6
$atge 6
$fisv 6
$it 6
$BHC 6
$ed 6
$TCEHY 6
$stt 6
$nlsn 6
$SKX 6
$ntap 6
$DBX 6
$dfs 6
$gt 6
$key 6
$adi 6
$SNI 6
$CE 6
$STLD 6
$fitb 6
$NOW 6
$BIDU 6
$PF 6
$DOMO 6
$yum 6
$SNDK 6
$TEG 5
$JOY 5
$bhf 5
$FEYE 5
$MZOR 5
$avb 5
$STM 5
$FCAU 5
$ASML 5
$pld 5
$exr 5
$SOXL 5
$amg 5
$nbl 5
$svu 5
$AMRN 5
$cof 5
$LLTC 5
$ew 5
$COLD 5
$VMW 5
$PCL 5
$SNY 5
$aet 5
$NVTA 5
$VIPS 5
$LULU 5
$TEUM 5
$dvn 5
$AMC 5
$WSM 5
$$s 5
$HUYA 5
$PZZA 5
$TOPS 5
$CECO 5
$mtb 5
$hrb 5
$nem 5
$TWLO 5
$UVXY 5
$viav 5
$hst 5
$LTD 5
$ARWR 5
$tdc 5
$LXK 5
$FDO 5
$CEI 5
$spg 5
$cdns 5
$lll 5
$FNKO 5
$GRPN 5
$o 5
$awk 5
$CAM 5
$PLUG 5
$TOL 5
$cf 4
$NOK 4
$cop 4
$ir 4
$VEEV 4
$Lrcx 4
$SNE 4
$LVS 4
$VIX 4
$Wynn 4
$chtr 4
$wpx 4
$lnc 4
$MNGA 4
$TWC 4
$AMzn 4
$el 4
$SODA 4
$VSTM 4
$aos 4
$UNIT 4
$GLOB 4
$ACB 4
$AMTD 4
$GLD 4
$VIV 4
$Gm 4
$mur 4
$Csco 4
$RH 4
$viab 4
$SFM 4
$CALA 4
$hca 4
$XENE 4
$Ebay 4
$TDOC 4
$EXAS 4
$ARNA 4
$ECHO 4
$AAOI 4
$itw 4
$ATT 4
$aee 4
$baba 4
$ter 4
$mtd 4
$ph 4
$HAR 4
$aes 4
$TVIX 4
$expd 4
$UPL 4
$Aal 4
$MRVL 4
$urbn 4
$SHPG 4
$OGEN 4
$sti 4
$FAANG 4
$GALT 4
$UBS 4
$ICPT 4
$cms 4
$col 4
$rf 4
$THO 4
$iNTC 4
$hrl 4
$MYSZ 4
$AXR 4
$SOGO 4
$WDAY 4
$APOL 4
$ppg 4
$SLCA 4
$YELP 4
$ayi 4
$mmm 4
$aptv 4
$Googl 4
$UNVR 4
$INO 4
$hsy 4
$W 4
$HDP 4
$KTOS 4
$Ms 3
$STAA 3
$hban 3
$HCLP 3
$orly 3
$ctxs 3
$VG 3
$SWIR 3
$FTNT 3
$AVEO 3
$ETSY 3
$ZUO 3
$YEXT 3
$AGS 3
$dnb 3
$HQY 3
$EEQ 3
$GPRO 3
$Glw 3
$ALNY 3
$zion 3
$VIA 3
$SMH 3
$cbre 3
$BEAT 3
$FRED 3
$NTDOY 3
$MPW 3
$flr 3
$DVMT 3
$EKSO 3
$SPOT 3
$MTBC 3
$XLK 3
$cron 3
$NVTR 3
$Dis 3
$NKTR 3
$ERJ 3
$RARE 3
$wat 3
$WAG 3
$WDR 3
$DPW 3
$BJ 3
$CTRP 3
$AGL 3
$NVRO 3
$rost 3
$pfg 3
$YUMC 3
$bax 3
$EXEL 3
$SLS 3
$Ci 3
$IWM 3
$UMC 3
$CNQ 3
$MELI 3
$vrsn 3
$GSKY 3
$PCTY 3
$RCI 3
$XLRN 3
$SSC 3
$GLOG 3
$SRI 3
$Wfc 3
$bxp 3
$Shld 3
$EQH 3
$FOXA 3
$ftv 3
$andv 3
$ice 3
$WATT 3
$PLL 3
$NBIX 3
$prgo 3
$CY 3
$TRVG 3
$DNLI 3
$VRAY 3
$ANET 3
$emr 3
$KEM 3
$SEDG 3
$GBX 3
$KEYS 3
$phm 3
$OIS 3
$avy 3
$SGMO 3
$TE 3
$UIS 3
$TPX 3
$ZNGA 3
$APPS 2
$NR 2
$CRSP 2
$sqqq 2
$RGEN 2
$GGB 2
$SEND 2
$cnc 2
$ABMD 2
$EGAN 2
$GEVO 2
$NDLS 2
$MARK 2
$jd 2
$LPX 2
$CVNA 2
$ZTO 2
$UCTT 2
$BPMX 2
$IMAX 2
$Celg 2
$AKER 2
$MYGN 2
$SGH 2
$RXN 2
$KL 2
$CLVS 2
$pkg 2
$jef 2
$UNFI 2
$TQQQ 2
$ICHR 2
$idxx 2
$EIGI 2
$Crm 2
$Bby 2
$TRCO 2
$GLPG 2
$INFN 2
$SYN 2
$Ups 2
$NEPT 2
$ECYT 2
$BILI 2
$etr 2
$SFTBF 2
$MDXG 2
$ppl 2
$DDD 2
$rl 2
$Fast 2
$OXLC 2
$WWE 2
$srcl 2
$WTI 2
$IZEA 2
$PVAC 2
$Adsk 2
$flir 2
$PGNX 2
$PPDF 2
$ECA 2
$GOV 2
$Watchlist 2
$POR 2
$PEGI 2
$cag 2
$PRTY 2
$IGC 2
$SMRT 2
$Snap 2
$XLF 2
$WERN 2
$sq 2
$DB 2
$tlry 2
$rhi 2
$SWY 2
$Qcom 2
$GWPH 2
$EDIT 2
$OUT 2
$pxd 2
$psa 2
$BRCM 2
$Atvi 2
$PEIX 2
$IBB 2
$chrw 2
$AVGo 2
$MDR 2
$FCN 2
$IAC 2
$trow 2
$USD 2
$mtch 2
$AVLR 2
$ABB 2
$Kmb 2
$ben 2
$LL 2
$hcp 2
$RKDA 2
$SPWR 2
$VTNR 2
$Nke 2
$FORM 2
$STJ 2
$Gme 2
$sna 2
$TPIV 2
$CACI 2
$OLED 2
$big 2
$ENPH 2
$CFN 2
$CDNA 2
$FNSR 2
$all 2
$OPK 2
$CVRR 2
$CSLT 2
$Goog 2
$PRMW 2
$CRMD 2
$UDOW 2
$WEN 2
$XOm 2
$CSRA 2
$Jnj 2
$RUN 2
$NTRI 2
$QNST 2
$INST 2
$rsg 2
$PTN 2
$AOBC 2
$UXIN 2
$TRI 2
$WAIR 2
$FBP 2
$WPM 2
$NvDA 2
$PI 2
$VIOT 2
$NFlx 2
$Algn 2
$NNDM 2
$AA 2
$PETQ 2
$MTG 2
$px 2
$VLY 2
$BLUE 2
$ni 2
$APPL 2
$AIR 2
$rjf 2
$DMRC 2
$YNDX 2
$HELE 2
$mco 2
$DEPO 2
$Hd 2
$SCOR 2
$YPF 2
$MDB 2
$JNUG 2
$GNTX 2
$HIMX 2
$JCp 2
$PACB 2
$Rost 2
$SPXL 2
$Hpq 2
$ZFGN 2
$INSY 2
$AZN 2
$ADMP 2
$EQNR 2
$r 2
$wltw 2
$FPI 2
$PTLA 2
$SEAS 2
$RADA 2
$SPPI 2
$BMCH 2
$CVRS 2
$LNG 2
$FOX 2
$ETP 2
$VIRT 2
$LITE 2
$IRDM 2
$SPHS 2
$STUDY 2
$PBR 2
$SAIC 2
$jec 2
$DRYS 2
$WB 2
$Gild 2
$SPLK 2
$VOD 2
$XYF 2
$SSYS 2
$hot 2
$Mo 2
$SIRI 2
$XME 2
$TLRD 2
$d 2
$BLFS 2
$NYCB 2
$USO 2
$Ibm 2
$FCEL 2
$EUTLF 2
$Avgo 2
$BOX 2
$amrn 2
$NLY 2
$TTD 2
$YECO 2
$AGEN 2
$UA 2
$ALRM 2
$ABUS 2
$FTK 2
$TMST 1
$$C 1
$SMAR 1
$PETZ 1
$atnm 1
$HMC 1
$SELB 1
$TLSA 1
$SONC 1
$Jagx 1
$ESIO 1
$GLDD 1
$tis 1
$amD 1
$XLI 1
$Biib 1
$CROX 1
$KKR 1
$NVS 1
$DVAX 1
$SSNLF 1
$LMN 1
$tvix 1
$GENE 1
$SSDIY 1
$NVIV 1
$ntrs 1
$NOMD 1
$tmk 1
$MORT 1
$INFY 1
$vrsk 1
$TLT 1
$B 1
$TCTZF 1
$wy 1
$SAN 1
$MIME 1
$MASI 1
$DRIP 1
$VALE 1
$pbct 1
$SENS 1
$VICI 1
$ITG 1
$ELAN 1
$DLtR 1
$VTL 1
$ON 1
$PTCO 1
$amZn 1
$ZEN 1
$IRBT 1
$PALL 1
$acb 1
$$Ms 1
$SASR 1
$twlo 1
$edu 1
$LLy 1
$NXTD 1
$I 1
$PPC 1
$INFI 1
$CIEN 1
$EAT 1
$NITE 1
$BLNK 1
$SND 1
$Awsm 1
$FET 1
$PTOTF 1
$HIBB 1
$LCI 1
$Nugt 1
$NAV 1
$PTX 1
$TORC 1
$ldos 1
$EVH 1
$NAKD 1
$rxii 1
$FIRE 1
$XPLR 1
$IDXG 1
$GSAT 1
$RACE 1
$rok 1
$RGNX 1
$alle 1
$QTS 1
$expr 1
$XXII 1
$mlm 1
$CZR 1
$XBI 1
$RIOT 1
$LDO 1
$CNI 1
$GG 1
$appl 1
$Hon 1
$EDZ 1
$DLPN 1
$VMI 1
$HXSCF 1
$XENT 1
$SIEN 1
$bwa 1
$TPIC 1
$twtr 1
$ELF 1
$pki 1
$GAMR 1
$HJLI 1
$xyl 1
$VLRS 1
$HMT 1
$PSXP 1
$VRNT 1
$CHKE 1
$CLDX 1
$PAG 1
$LYFT 1
$PCH 1
$TSLX 1
$COl 1
$ESL 1
$EPHE 1
$BAc 1
$Clf 1
$AINV 1
$ZAGG 1
$UEPS 1
$AKAO 1
$TWNK 1
$hp 1
$DXCM 1
$LGF 1
$ITB 1
$Sbux 1
$WLK 1
$INPX 1
$QCOm 1
$DECK 1
$ELY 1
$ZBRA 1
$WLH 1
$mkc 1
$JAZZ 1
$MRNS 1
$HEI 1
$IVTY 1
$PTIE 1
$AMGP 1
$Jpm 1
$HRZN 1
$ELOX 1
$Andv 1
$BBOX 1
$TSE 1
$WMIH 1
$snap 1
$AMRS 1
$PGTI 1
$JBSS 1
$ASYS 1
$RVP 1
$Big 1
$SBGI 1
$FT 1
$BTC 1
$Bac 1
$EXP 1
$CUZ 1
$WSFS 1
$KPTI 1
$PCRX 1
$CLNC 1
$ZGNX 1
$CPAH 1
$FDA 1
$BCS 1
$bAC 1
$sgyp 1
$SSW 1
$FLWS 1

$IAU 1
$FDN 1
$UGAZ 1
$Wmt 1
$MARA 1
$HSH 1
$Swn 1
$WCAGY 1
$Whr 1
$ERII 1
$STSY 1
$an 1
$HSGX 1
$AvGO 1
$HRTX 1
$ZIXI 1
$IRMD 1
$JAG 1
$PTI 1
$CXW 1
$VXAZN 1
$CETX 1
$OMP 1
$CYTR 1
$omer 1
$SBNY 1
$WRI 1
$IHI 1
$SIAL 1
$WEED 1
$ivz 1
$TKPYY 1
$boooommmm 1
$abc 1
$QHC 1
$AOI 1
$MWV 1
$SNV 1
$spgi 1
$lLY 1
$aon 1
$UGI 1
$REXR 1
$NFlX 1
$anss 1
$UBX 1
$CORE 1
$FIVE 1
$CLI 1
$ntnx 1
$CALX 1
$CDTI 1
$EBAy 1
$CJES 1
$UUUU 1
$usdcad 1
$BCO 1
$Dg 1
$AVAV 1
$BHP 1
$ATRS 1
$alef 1
$SKM 1
$RRGB 1
$TD 1
$HTA 1
$WTFC 1
$ETF 1
$aaPL 1
$UL 1
$SFNC 1
$NXGN 1
$PSH 1
$WHD 1
$SBPH 1
$ESPR 1
$PANW 1
$$BIIB 1
$MTOR 1
$HTGM 1
$MD 1
$AAXN 1
$BE 1
$PNK 1
$DNKN 1
$GTN 1
$ABIL 1
$TSRO 1
$CARG 1
$KNAMF 1
$Dish 1
$NGD 1
$SUM 1
$EPAY 1
$AQN 1
$BLIN 1
$ZS 1
$DIA 1
$BP 1
$TCS 1
$ARMK 1
$SIR 1
$wrk 1
$STAG 1
$RY 1
$CSIQ 1
$IAG 1
$UBI 1
$$DNR 1
$EBay 1
$nio 1
$TZOO 1
$Baba 1
$XLV 1
$MNRO 1
$CONE 1
$MJ 1
$OKTA 1
$PENN 1
$KRFT 1
$BAH 1
$AU 1
$MYOK 1
$TBPMF 1
$DIOD 1
$PATK 1
$Ba 1
$pcar 1
$E 1
$MSft 1
$PVTL 1
$GNE 1
$YRCW 1
$NEWA 1
$NUAN 1
$slg 1
$ZYNE 1
$SNES 1
$HLG 1
$NVda 1
$GLMD 1
$tndm 1
$PLX 1
$FPRX 1
$AMJ 1
$GOGO 1
$Chk 1
$IRWD 1
$CPGX 1
$Hal 1
$plnt 1
$USFD 1
$ACAD 1
$HZN 1
$dxc 1
$AIMT 1
$RNET 1
$TEAM 1
$ITA 1
$Jwn 1
$PCRFY 1
$PTCT 1
$qqq 1
$Tif 1
$ANGO 1
$shop 1
$TPH 1
$pzzz 1
$KODK 1
$WBT 1
$AG 1
$RWT 1
$MBFI 1
$$S 1
$EDGE 1
$ROSE 1
$ATHX 1
$HAIN 1
$YUMA 1
$lB 1
$MLCO 1
$skx 1
$NVCR 1
$ERI 1
$OMI 1
$IMGN 1
$CNDT 1
$TK 1
$ACST 1
$RAH 1
$AFMD 1
$AKP 1
$AYTU 1
$zkrF 1
$UWN 1
$CWBR 1
$CsCo 1
$IGT 1
$GOPH 1
$CULP 1
$CHk 1
$CRBP 1
$QUOT 1
$cnp 1
$DDR 1
$$t 1
$SMG 1
$TALO 1
$KBH 1
$WRB 1
$FMI 1
$NUS 1
$TGA 1
$TMHC 1
$CNAT 1
$NCS 1
$LCC 1
$TTNP 1
$FNGU 1
$HCBK 1
$MsFT 1
$BL 1
$RRTS 1
$WPG 1
$BKYI 1
$IBUY 1
$KBR 1
$Vz 1
$DFEN 1
$LIVN 1
$AMED 1
$PODD 1
$MsfT 1
$SEM 1
$NSYS 1
$AWSM 1
$BIOC 1
$LEDS 1
$VRNDF 1
$GSHT 1
$$ENDP 1
$XLP 1
$spot 1
$Pm 1
$ATHM 1
$MJNE 1
$TECK 1
$LAD 1
$BKH 1
$NLNK 1
$It 1
$CSGN 1
$SKYY 1
$watchlist 1
$AmD 1
$KMPH 1
$TSMC 1
$SNCR 1
$ASNA 1
$IGV 1
$USDJPY 1
$ANAB 1
$GNC 1
$rmd 1
$DCIX 1
$JBLU 1
$kim 1
$PHG 1
$CODI 1
$IYR 1
$XRF 1
$CHS 1
$QTM 1
$PRED 1
$HANS 1
$AYX 1
$SNBR 1
$TROV 1
$Xray 1
$HABT 1
$AIZP 1
$AAC 1
$FUN 1
$LMFA 1
$McD 1
$pwr 1
$LO 1
$EVOP 1
$TGI 1
$ZUMZ 1
$VST 1
$RCM 1
$OSK 1
$XNET 1
$$PFE 1
$ALKS 1
$MCOA 1
$ARLZ 1
$YANG 1
$MDSO 1
$BBt 1
$VSAT 1
$SMHI 1
$RYN 1
$VGR 1
$VIVE 1
$ACBFF 1
$AUPH 1
$DLPH 1
$DGAZ 1
$SNX 1
$ORIG 1
$mmc 1
$CTRL 1
$CREE 1
$cci 1
$REVG 1
$FUL 1
$tilray 1
$DOCU 1
$SRPT 1
$rad 1
$CBB 1
$BGFV 1
$TRCH 1
$FNMA 1
$PRTK 1
$OCUL 1
$cerN 1
$PAA 1
$NG 1
$GOOGl 1
$CWCO 1
$nFLX 1
$ABEV 1
$GELYF 1
$WMC 1
$hD 1
$RPAI 1
$Z 1
$SCVL 1
$LPI 1
$MITK 1
$ATKR 1
$ELVT 1
$CENX 1
$ONDK 1
$ODFL 1
$DSW 1
$maa 1
$FLL 1
$WPP 1
$$NFLX 1
$spxu 1
$CAt 1
$BLPH 1
$SRNE 1
$DISCK 1
$TREX 1
$MOMO 1
$PLAY 1
$VVV 1
$EDAY 1
$PZG 1
$$amd 1
$ATEN 1
$CURO 1
$TUR 1
$Dltr 1
$DDS 1
$CONN 1
$ERIC 1
$EbAy 1
$GBR 1
$Wdc 1
$SEMG 1
$PQG 1
$VZAZN 1
$CLDR 1
$SPN 1
$ENB 1
$CRAY 1
$IPIX 1
$eBay 1
$MRTN 1
$BOXL 1
$PLAN 1
$IYT 1
$GGAL 1
$Ulta 1
$ETE 1
$Luv 1
$EPR 1
$ZG 1
$VOYA 1
$QSR 1
$SONO 1
$STAY 1
$etsy 1
$BTX 1
$FRAC 1
$LASR 1
$WOW 1
$PSEC 1
$Nwl 1
$MCY 1
$HLF 1
$GDDY 1
$VRNS 1
$ANGI 1
$RSLS 1
$QD 1
$MZRTF 1
$MOH 1
$IEP 1
$RFP 1
$AKCA 1
$AApl 1
$specialty$ 1
$TISI 1
$PSTG 1
$REDU 1
$TLRA 1
$USCR 1
$GEMP 1
$OCLR 1
$CHFS 1
$BKD 1
$TRVN 1
$NAK 1
$CMTA 1
$PIRS 1
$TIK 1
$PLT 1
$WMS 1
$SAFE 1
$KEP 1
$NPTN 1
$INGN 1
$EPIX 1
$PL 1
$Cost 1
$$biib 1
$CAR 1
$Unfi 1
$ROIC 1
$leg 1
$SSNNF 1
$zuo 1
$SQQQ 1
$TRQ 1
$TRPX 1
$PLYA 1
$Fl 1
$VRX 1
$TVPT 1
$fis 1
$RIO 1
$ONCS 1
$ANTm 1
$AJRD 1
$TRUE 1
$bidu 1
$AMat 1
$CORI 1
$HALL 1
$WRD 1
$WSCI 1
$XLU 1
$NRZ 1
$FND 1
$hog 1
$Mck 1
$OII 1
$LPL 1
$UPLD 1
$APRN 1
$WNC 1
$EVRI 1
$SUPV 1
$SCI 1
$WIn 1
$WWW 1
$CFR 1
$Appl 1
$GLUU 1
$$ATVI 1
$$has 1
$cxo 1
$GNRC 1
$RNWK 1
$RTM 1
$HMI 1
$TWO 1
$SHLX 1
$VHC 1
$GTLS 1
$WTW 1
$CIG 1
$NOG 1
$AMH 1
$IDTI 1
$PLAG 1
$EMAN 1
$SLDB 1
$FXC 1
$Urbn 1
$AWX 1
$SGMS 1
$huya 1
$SC 1
$NETE 1
$MPWR 1
$QTT 1
$TOT 1
$Isrg 1
$vuzi 1
$PLAB 1
$ISRL 1
$AEM 1
$CRCM 1
$NMRD 1
$Ko 1
$WBS 1
$PBYI 1
$ctsh 1
$LPTX 1
$CASY 1
$FGP 1
$SRG 1
$PAVM 1
$BZH 1
$SU 1

In [15]:
json_data['ticker'] = json_data['ticker'].str.lower()

In [16]:
for i,j in zip(json_data['ticker'].value_counts().index,json_data['ticker'].value_counts().values):
    print(i,j)

$amd 165783
$mu 84236
$amzn 69252
$fb 66331
$aapl 50731
$nflx 46343
$nvda 21016
$ge 20270
$msft 15889
$nke 15024
$chk 11742
$t 10069
$f 10031
$bac 8603
$clf 8437
$intc 8044
$dis 6410
$pypl 6279
$googl 6276
$jcp 6124
$shld 5888
$avgo 5779
$atvi 5524
$celg 5472
$wmt 5205
$ba 5199
$jpm 4546
$dnr 4483
$x 4331
$cmg 4221
$amat 4206
$crm 4177
$v 4162
$ibm 4147
$gs 4077
$lrcx 3655
$ea 3624
$gild 3525
$sbux 3463
$ebay 3409
$wynn 3395
$goog 3220
$cat 3133
$adbe 3021
$hd 3009
$uaa 2821
$aal 2798
$mcd 2724
$lmt 2710
$abbv 2685
$wdc 2627
$c 2616
$cost 2610
$nwl 2460
$jnj 2445
$swn 2389
$csco 2384
$m 2302
$bkng 2283
$gm 2223
$endp 2162
$rht 2116
$lb 2093
$qcom 2092
$ma 2040
$pfe 1998
$jwn 1983
$isrg 1966
$orcl 1926
$gme 1920
$fslr 1907
$stz 1906
$wfc 1873
$mnk 1835
$bbby 1820
$fcx 1726
$ms 1688
$cvs 1671
$vz 1659
$dal 1633
$algn 1632
$dltr 1629
$kr 1623
$fdx 1621
$biib 1607
$low 1567
$tgt 1541
$rig 1518
$ko 1454
$pep 1443
$bby 1425
$mgm 1414
$fl 1403
$rtn 1367
$pg 1333
$xom 1316
$symc 1283
$s 1273
$ual 1257
$noc 1247
$ctl 1241
$hal 1212
$tif 1205
$de 1184
$mmm 1148
$kss 1141
$txn 1136
$avp 1133
$pm 1133
$lly 1131
$luv 1126
$ftr 1123
$regn 1119
$axp 1093
$bmy 1092
$cmcsa 1043
$ulta 1020
$kmi 1009
$mrk 984
$uri 979
$ilmn 974
$mro 953
$blk 949
$amgn 938
$adsk 936
$mo 935
$csx 928
$swks 910
$cvx 910
$slb 900
$gps 882
$ups 881
$sig 880
$wba 873
$gis 873
$agn 866
$cbs 864
$unh 854
$dish 854
$expe 834
$urbn 833
$kors 831
$tmus 830
$fast 824
$anf 820
$len 808
$nbr 798
$tjx 794
$cpb 790
$has 782
$whr 781
$alb 768
$stx 760
$bsx 756
$xlnx 745
$cop 741
$fosl 740
$myl 737
$glw 732
$hog 723
$mdt 723
$arnc 713
$khc 704
$intu 693
$hpq 690
$hon 684
$ntap 682
$big 680
$dvn 676
$dwdp 674
$k 673
$syf 672
$trip 665
$esv 664
$abt 662
$vlo 652
$rrc 648
$alk 647
$dri 647
$hpe 641
$rost 639
$incy 637
$ew 629
$mchp 627
$apa 621
$unp 618
$dg 617
$ci 614
$pnc 609
$cag 608
$schw 604
$esrx 604
$apc 599
$win 599
$alxn 587
$tsn 587
$acn 586
$so 572
$usb 569
$qrvo 569
$azo 568
$akam 567
$mnst 564
$yum 563
$eog 556
$grmn 552
$kmx 550
$ccl 548
$utx 544
$syk 538
$gt 537
$etfc 536
$nue 535
$cog 528
$duk 523
$klac 521
$a 515
$vfc 514
$hsy 513
$swk 511
$mpc 510
$coty 507
$kmb 502
$ctsh 501
$ffiv 501
$gww 499
$txt 498
$gd 497
$pvh 491
$hban 489
$pru 488
$aig 487
$jnpr 485
$stt 484
$mat 483
$el 482
$cmi 481
$bk 479
$all 476
$cf 472
$adp 470
$nlsn 470
$hbi 468
$ctas 468
$cof 467
$key 466
$clx 464
$adi 459
$cme 458
$cah 458
$trv 457
$orly 457
$gnw 456
$hum 455
$sti 454
$tsco 454
$mdlz 451
$hes 451
$vrtx 450
$payx 450
$oxy 449
$nem 447
$iff 447
$ppg 443
$dhi 441
$cl 439
$psx 437
$jbht 434
$rcl 433
$pxd 432
$aaba 431
$pcg 431
$dhr 430
$pgr 429
$tap 426
$hrs 422
$ice 417
$ads 416
$gpn 413
$dva 413
$mar 413
$cnx 412
$ftv 412
$d 411
$rf 410
$mco 408
$itw 407
$mos 404
$mhk 404
$o 404
$tpr 403
$bhge 400
$ayi 399
$emr 397
$syy 394
$shw 391
$pld 388
$wm 388
$omc 385
$antm 385
$aet 385
$scg 383
$ndaq 382
$nee 381
$ni 376
$dfs 372
$cma 372
$fitb 368
$disca 368
$mck 367
$rl 367
$hrl 366
$phm 364
$mkc 364
$cboe 362
$df 360
$hrb 360
$aap 357
$wmb 356
$chtr 356
$cxo 356
$nclh 354
$zts 352
$met 352
$vrsk 351
$ati 350
$ip 349
$sjm 349
$hca 348
$viab 346
$ksu 345
$svu 345
$nrg 344
$adm 343
$fmc 342
$nsc 342
$wpx 340
$ne 339
$ben 339
$tmo 338
$dov 334
$coo 334
$exc 334
$jbl 331
$fisv 330
$ctxs 330
$afl 329
$ntrs 321
$prgo 318
$rok 314
$lll 311
$cdns 309
$bdx 309
$nfx 309
$aes 308
$cern 306
$leg 306
$amt 305
$xray 305
$abc 303
$ca 302
$xec 299
$bbt 299
$rdc 299
$spx 298
$flr 296
$ed 295
$pfg 293
$dxc 293
$xel 293
$lyb 291
$cnc 289
$bax 289
$px 289
$ggp 288
$jec 286
$aph 286
$rmd 286
$vmc 284
$mtb 281
$nov 281
$eqt 281
$hii 279
$fe 278
$holx 278
$spy 277
$tdg 277
$nbl 275
$cci 273
$oke 273
$idxx 272
$do 272
$ph 270
$xrx 270
$hlt 268
$aep 268
$ivz 268
$an 268
$ame 265
$spg 264
$spgi 263
$aptv 263
$iqv 262
$aon 262
$gpc 261
$xyl 259
$pbi 257
$wynd 256
$chd 256
$vtr 256
$info 255
$hp 255
$snps 255
$cnp 255
$pcar 254
$pdco 253
$lnc 253
$ecl 252
$thc 250
$sre 250
$srcl 250
$irm 249
$bwa 249
$bll 247
$efx 244
$sna 244
$col 244
$rop 244
$etn 243
$cb 242
$fti 241
$wu 240
$ter 240
$fis 240
$eqix 239
$zion 239
$ipg 238
$bms 238
$hsic 236
$tss 234
$jci 233
$chrw 232
$nwsa 231
$mlm 231
$mas 230
$wrk 230
$awk 229
$see 228
$wy 228
$hig 227
$tdc 227
$viav 225
$apd 224
$msi 224
$psa 222
$zbh 222
$flir 221
$aee 219
$cfg 219
$cms 217
$lh 216
$tmk 215
$qep 214
$vrsn 213
$lkq 212
$emn 211
$atge 210
$dlr 210
$dte 210
$ppl 209
$aos 209
$pki 208
$var 206
$trow 203
$dgx 202
$unm 198
$ajg 197
$etr 196
$anss 195
$amg 195
$mur 194
$pnr 193
$avy 190
$ir 190
$fhn 189
$amp 189
$andv 189
$rhi 189
$r 186
$wat 183
$tel 182
$oi 182
$navi 182
$es 181
$expd 181
$ldos 181
$it 179
$eix 178
$wec 177
$rrd 177
$peg 176
$are 175
$rsg 173
$tsla 172
$aiz 172
$hcp 171
$kim 169
$slg 169
$rjf 169
$wltw 168
$slm 166
$fbhs 165
$sbac 163
$fls 162
$pbct 162
$mmc 160
$eqr 158
$bhf 157
$ess 157
$pkg 154
$dnb 153
$udr 153
$l 153
$mtd 150
$alle 149
$lm 148
$uhs 147
$pnw 143
$fii 139
$reg 138
$well 134
$evhc 134
$hst 133
$cinf 133
$lnt 129
$avb 128
$exr 125
$dre 125
$pwr 124
$jef 120
$cbre 113
$bxp 108
$tgna 107
$vno 106
$maa 102
$dps 98
$mon 95
$mac 93
$xl 93
$re 91
$twtr 85
$aiv 69
$sq 68
$iq 67
$frt 67
$baba 63
$ghc 61
$tlry 57
$snap 56
$twx 50
$hmny 43
$cgc 39
$trxc 38
$spls 37
$hcn 35
$pcln 31
$coh 27
$wfm 27
$jd 25
$djia 25
$nbev 25
$bb 24
$roku 24
$fpl 23
$cron 23
$dd 23
$hot 22
$cbg 22
$qqq 20
$sfix 19
$fit 18
$nxpi 17
$tsm 16
$gern 13
$hear 13
$aks 13
$gas 13
$bcr 11
$ostk 11
$rai 11
$mtch 11
$tndm 10
$nlst 10
$lvlt 10
$ntnx 9
$nio 9
$csc 9
$pom 9
$mjn 8
$dpz 8
$gmcr 8
$teva 8
$nvcn 8
$rad 8
$petm 8
$shop 8
$p 7
$vktx 7
$skx 7
$fdc 7
$bidu 7
$amrn 7
$sgyp 7
$bry 7
$mnkd 7
$cvc 7
$ce 6
$huya 6
$domo 6
$bhc 6
$pf 6
$$s 6
$emc 6
$sni 6
$ebs 6
$innt 6
$twlo 6
$dbx 6
$tcehy 6
$ntr 6
$sndk 6
$$aapl 6
$stld 6
$now 6
$ttwo 6
$ceco 5
$cold 5
$cei 5
$tops 5
$fnko 5
$acb 5
$feye 5
$amc 5
$teg 5
$wsm 5
$fdo 5
$lxk 5
$grpn 5
$soxl 5
$pcl 5
$tvix 5
$cam 5
$joy 5
$vips 5
$lulu 5
$uvxy 5
$tol 5
$lltc 5
$fcau 5
$stm 5
$asml 5
$nvta 5
$ltd 5
$arwr 5
$sny 5
$teum 5
$mzor 5
$vmw 5
$plug 5
$pzza 5
$yelp 4
$mysz 4
$wday 4
$lvs 4
$apol 4
$ino 4
$echo 4
$faang 4
$sne 4
$icpt 4
$arna 4
$att 4
$aaoi 4
$ogen 4
$rh 4
$unvr 4
$vix 4
$glob 4
$cala 4
$ktos 4
$exas 4
$tdoc 4
$ubs 4
$spot 4
$w 4
$sfm 4
$axr 4
$upl 4
$zuo 4
$soda 4
$xene 4
$sogo 4
$slca 4
$viv 4
$etsy 4
$twc 4
$gld 4
$tho 4
$amtd 4
$mnga 4
$unit 4
$har 4
$mrvl 4
$shpg 4
$galt 4
$veev 4
$appl 4
$vstm 4
$nok 4
$hdp 4
$fred 3
$smh 3
$mtbc 3
$hqy 3
$sri 3
$dvmt 3
$gpro 3
$alny 3
$gbx 3
$via 3
$sgmo 3
$erj 3
$exel 3
$aveo 3
$unfi 3
$rare 3
$staa 3
$pcty 3
$anet 3
$sls 3
$dnli 3
$beat 3
$eeq 3
$ftnt 3
$tpx 3
$cy 3
$hclp 3
$dpw 3
$znga 3
$ctrp 3
$nbix 3
$gsky 3
$sqqq 3
$glog 3
$wag 3
$sedg 3
$pll 3
$umc 3
$xlk 3
$nktr 3
$bj 3
$kem 3
$ntdoy 3
$nvro 3
$rci 3
$trvg 3
$watchlist 3
$eqh 3
$uis 3
$agl 3
$xlrn 3
$mpw 3
$keys 3
$ssc 3
$meli 3
$yumc 3
$te 3
$watt 3
$wdr 3
$vg 3
$ags 3
$swir 3
$yext 3
$ekso 3
$iwm 3
$nvtr 3
$cnq 3
$foxa 3
$vray 3
$ois 3
$mygn 2
$awsm 2
$trco 2
$ecyt 2
$prmw 2
$wpm 2
$udow 2
$kl 2
$mtg 2
$smrt 2
$ll 2
$xyf 2
$cvrr 2
$tpiv 2
$opk 2
$stj 2
$egan 2
$vtnr 2
$bili 2
$wen 2
$crsp 2
$eca 2
$nr 2
$ggb 2
$fcn 2
$ichr 2
$nly 2
$box 2
$mdb 2
$brcm 2
$ntri 2
$bpmx 2
$edit 2
$etp 2
$gov 2
$vod 2
$drys 2
$rada 2
$pvac 2
$mdr 2
$cvrs 2
$prty 2
$sppi 2
$bmch 2
$viot 2
$gntx 2
$yeco 2
$petq 2
$azn 2
$nycb 2
$ssys 2
$aa 2
$cvna 2
$ptla 2
$fox 2
$sftbf 2
$iac 2
$mark 2
$pegi 2
$lng 2
$dmrc 2
$fbp 2
$saic 2
$avlr 2
$qnst 2
$nndm 2
$ptn 2
$yndx 2
$clvs 2
$cfn 2
$pbr 2
$rxn 2
$wwe 2
$study 2
$fcel 2
$scor 2
$sgh 2
$zto 2
$usd 2
$cdna 2
$rgen 2
$air 2
$virt 2
$blfs 2
$gevo 2
$depo 2
$blue 2
$wern 2
$izea 2
$uso 2
$tlrd 2
$xme 2
$csra 2
$pacb 2
$abmd 2
$fnsr 2
$ndls 2
$swy 2
$aobc 2
$infn 2
$igc 2
$alrm 2
$ddd 2
$apps 2
$inst 2
$uxin 2
$caci 2
$pgnx 2
$enph 2
$ppdf 2
$wb 2
$ftk 2
$lite 2
$out 2
$cslt 2
$siri 2
$abus 2
$nept 2
$run 2
$zfgn 2
$gwph 2
$$biib 2
$aker 2
$form 2
$jnug 2
$eutlf 2
$ua 2
$xlf 2
$vly 2
$hele 2
$tqqq 2
$admp 2
$tri 2
$abb 2
$ypf 2
$eigi 2
$lpx 2
$agen 2
$wti 2
$eqnr 2
$spwr 2
$syn 2
$insy 2
$spxl 2
$crmd 2
$rkda 2
$splk 2
$wair 2
$seas 2
$fpi 2
$por 2
$glpg 2
$oxlc 2
$irdm 2
$db 2
$mdxg 2
$peix 2
$oled 2
$send 2
$ibb 2
$ttd 2
$pi 2
$uctt 2
$sphs 2
$himx 2
$imax 2
$e 1
$rexr 1
$snbr 1
$idxg 1
$aten 1
$ocul 1
$zg 1
$fet 1
$ssnlf 1
$ngd 1
$sc 1
$fnma 1
$rvp 1
$epr 1
$rrts 1
$kodk 1
$zagg 1
$rrgb 1
$gsht 1
$core 1
$nugt 1
$usdjpy 1
$lyft 1
$amgp 1
$mwv 1
$hain 1
$lo 1
$snd 1
$cni 1
$acad 1
$stag 1
$vuzi 1
$usfd 1
$nomd 1
$pcrfy 1
$ainv 1
$bgfv 1
$nptn 1
$whd 1
$trex 1
$mjne 1
$rwt 1
$gsat 1
$nmrd 1
$masi 1
$nav 1
$frac 1
$talo 1
$rnet 1
$atnm 1
$wpp 1
$cwco 1
$smar 1
$riot 1
$athm 1
$aem 1
$tlt 1
$nvs 1
$newa 1
$vlrs 1
$vrns 1
$gemp 1
$gnrc 1
$xxii 1
$ptct 1
$xbi 1
$xlp 1
$rpai 1
$revg 1
$cenx 1
$itb 1
$awx 1
$pcrx 1
$semg 1
$cien 1
$disck 1
$b 1
$amrs 1
$aizp 1
$ihi 1
$eri 1
$tctzf 1
$tot 1
$chfs 1
$ptx 1
$esio 1
$asys 1
$infi 1
$nviv 1
$aqn 1
$tik 1
$aaxn 1
$ajrd 1
$rxii 1
$roic 1
$idti 1
$wmc 1
$dds 1
$hta 1
$wri 1
$fnd 1
$ssnnf 1
$pch 1
$xrf 1
$team 1
$aoi 1
$sci 1
$dcix 1
$car 1
$imgn 1
$deck 1
$xli 1
$tpic 1
$vrx 1
$cori 1
$gne 1
$cetx 1
$fmi 1
$hjli 1
$ita 1
$bl 1
$tcs 1
$plx 1
$eman 1
$esl 1
$akca 1
$ayx 1
$psxp 1
$trch 1
$edge 1
$vsat 1
$athx 1
$hrtx 1
$fdn 1
$tbpmf 1
$wbs 1
$tph 1
$wow 1
$ondk 1
$zgnx 1
$skm 1
$vzazn 1
$z 1
$md 1
$gelyf 1
$flws 1
$momo 1
$nsys 1
$su 1
$sbgi 1
$snx 1
$zs 1
$mnro 1
$gnc 1
$zixi 1
$psh 1
$sbph 1
$yuma 1
$wsci 1
$td 1
$acbff 1
$tlra 1
$angi 1
$hzn 1
$lasr 1
$zbra 1
$nakd 1
$uwn 1
$nrz 1
$pnk 1
$aytu 1
$elvt 1
$upld 1
$sncr 1
$bzh 1
$cldr 1
$race 1
$lpi 1
$dsw 1
$on 1
$hcbk 1
$paa 1
$iyr 1
$wrb 1
$wcagy 1
$scvl 1
$abil 1
$tk 1
$afmd 1
$vvv 1
$i 1
$play 1
$espr 1
$carg 1
$ibuy 1
$gddy 1
$rtm 1
$diod 1
$ddr 1
$ssdiy 1
$www 1
$ry 1
$crbp 1
$tur 1
$hlf 1
$btx 1
$srg 1
$pavm 1
$chs 1
$hibb 1
$anab 1
$gogo 1
$habt 1
$gene 1
$evri 1
$qsr 1
$infy 1
$trvn 1
$au 1
$rose 1
$zyne 1
$htgm 1
$prtk 1
$spxu 1
$$amd 1
$alks 1
$acst 1
$fgp 1
$cone 1
$iau 1
$qtm 1
$xplr 1
$hmt 1
$stay 1
$podd 1
$tga 1
$pbyi 1
$knamf 1
$irmd 1
$lptx 1
$mcy 1
$cnat 1
$cdti 1
$lcc 1
$lmn 1
$akp 1
$bah 1
$jag 1
$culp 1
$omi 1
$nuan 1
$bkd 1
$$atvi 1
$sem 1
$evh 1
$bp 1
$$t 1
$ag 1
$tisi 1
$ful 1
$ncs 1
$cndt 1
$moh 1
$mdso 1
$elan 1
$mj 1
$goph 1
$igt 1
$epix 1
$armk 1
$csiq 1
$sfnc 1
$fprx 1
$lmfa 1
$nvcr 1
$trov 1
$iep 1
$sgms 1
$cjes 1
$hans 1
$csgn 1
$two 1
$hmc 1
$zen 1
$vici 1
$cray 1
$amj 1
$stsy 1
$zumz 1
$snv 1
$hxscf 1
$teck 1
$skyy 1
$edz 1
$cree 1
$sasr 1
$vhc 1
$ryn 1
$smg 1
$cuz 1
$omer 1
$xlv 1
$bioc 1
$mpwr 1
$sonc 1
$ft 1
$panw 1
$myok 1
$gluu 1
$fda 1
$jagx 1
$kkr 1
$smhi 1
$be 1
$boxl 1
$docu 1
$vive 1
$aprn 1
$pgti 1
$tsro 1
$sens 1
$akao 1
$wlk 1
$glmd 1
$hmi 1
$irbt 1
$atrs 1
$oii 1
$trpx 1
$ptotf 1
$epay 1
$redu 1
$avav 1
$penn 1
$pl 1
$yrcw 1
$dia 1
$cxw 1
$vrnt 1
$pqg 1
$trq 1
$$has 1
$vst 1
$rio 1
$bbox 1
$tgi 1
$gbr 1
$mime 1
$true 1
$tmhc 1
$edu 1
$rnwk 1
$bhp 1
$plt 1
$exp 1
$dnkn 1
$sum 1
$iyt 1
$asna 1
$mitk 1
$uscr 1
$five 1
$pall 1
$qhc 1
$hsh 1
$lci 1
$crox 1
$plya 1
$vtl 1
$btc 1
$ete 1
$voya 1
$hlg 1
$itg 1
$ingn 1
$fll 1
$oncs 1
$sono 1
$blnk 1
$spn 1
$hei 1
$drip 1
$cmta 1
$hall 1
$mrns 1
$evop 1
$$ms 1
$cwbr 1
$san 1
$rfp 1
$vgr 1
$aac 1
$wrd 1
$ivty 1
$phg 1
$ttnp 1
$uuuu 1
$inpx 1
$krft 1
$ephe 1
$ubi 1
$wtw 1
$twnk 1
$wtfc 1
$bkh 1
$tse 1
$dxcm 1
$calx 1
$lpl 1
$atkr 1
$chke 1
$cytr 1
$cpah 1
$mbfi 1
$petz 1
$bco 1
$leds 1
$bcs 1
$weed 1
$nus 1
$cldx 1
$fxc 1
$plag 1
$ueps 1
$erii 1
$oclr 1
$supv 1
$xlu 1
$cli 1
$jazz 1
$blph 1
$tkpyy 1
$livn 1
$cfr 1
$fngu 1
$yang 1
$pzzz 1
$casy 1
$wnc 1
$srpt 1
$kep 1
$ugi 1
$kbr 1
$mcoa 1
$mzrtf 1
$blin 1
$wms 1
$tlsa 1
$ugaz 1
$elox 1
$pzg 1
$$endp 1
$qd 1
$dlpn 1
$tmst 1
$safe 1
$vmi 1
$czr 1
$wmih 1
$enb 1
$dvax 1
$xnet 1
$ppc 1
$codi 1
$tilray 1
$ptco 1
$jblu 1
$pag 1
$odfl 1
$auph 1
$ango 1
$psec 1
$orig 1
$rah 1
$pti 1
$wsfs 1
$pstg 1
$vale 1
$$dnr 1
$irwd 1
$isrl 1
$curo 1
$omp 1
$kpti 1
$dlph 1
$pred 1
$usdcad 1
$pvtl 1
$mara 1
$cig 1
$amh 1
$vxazn 1
$igv 1
$tvpt 1
$bkyi 1
$cbb 1
$rgnx 1
$wbt 1
$rcm 1
$$pfe 1
$mrtn 1
$mort 1
$ipix 1
$kmph 1
$plan 1
$ssw 1
$wpg 1
$ptie 1
$snes 1
$gtn 1
$$c 1
$cpgx 1
$wlh 1
$eric 1
$lad 1
$nak 1
$selb 1
$nog 1
$ul 1
$plab 1
$sbny 1
$alef 1
$qtt 1
$aimt 1
$okta 1
$crcm 1
$shlx 1
$pirs 1
$abev 1
$etf 1
$gamr 1
$clnc 1
$boooommmm 1
$kbh 1
$quot 1
$sir 1
$dfen 1
$expr 1
$srne 1
$rsls 1
$nxgn 1
$nite 1
$plnt 1
$ubx 1
$lgf 1
$dgaz 1
$sien 1
$fun 1
$sldb 1
$arlz 1
$specialty$ 1
$fire 1
$gldd 1
$ely 1
$gg 1
$vrndf 1
$sial 1
$$nflx 1
$eday 1
$mtor 1
$osk 1
$nxtd 1
$tslx 1
$nlnk 1
$ggal 1
$eat 1
$qts 1
$xent 1
$ng 1
$gtls 1
$conn 1
$mlco 1
$hrzn 1
$patk 1
$tis 1
$elf 1
$zkrf 1
$amed 1
$jbss 1
$tsmc 1
$ctrl 1
$nete 1
$iag 1
$ldo 1
$hsgx 1
$torc 1
$tzoo 1

In [17]:
json_data = json_data.sort_values(by=['ticker','timestamp'])

In [261]:
json_data.head()

,stocktwit_tweet,sentiment_score,ticker,date,time
764838,aaba option volume be x normal on friday with contract call volume be and put volume be,2,aaba,2018-07-01,00:33:49
851945,aal b enterprise value v b market cap a b difference of actual asset v market value too big a spread way undervalue,3,aal,2018-07-01,02:24:23
698796,aal in put from last week target zone marked,2,aal,2018-07-01,03:46:03
346176,aal it s undervalue but will go low,1,aal,2018-07-01,14:23:02
912078,aal look way oversold,3,aal,2018-07-01,21:37:32

In [19]:
json_data['ticker'] = json_data['ticker'].str.replace("$","")
json_data['stocktwit_tweet']=json_data['stocktwit_tweet'].str.replace("$","")

In [260]:
json_data.head()

,stocktwit_tweet,sentiment_score,ticker,date,time
764838,aaba option volume be x normal on friday with contract call volume be and put volume be,2,aaba,2018-07-01,00:33:49
851945,aal b enterprise value v b market cap a b difference of actual asset v market value too big a spread way undervalue,3,aal,2018-07-01,02:24:23
698796,aal in put from last week target zone marked,2,aal,2018-07-01,03:46:03
346176,aal it s undervalue but will go low,1,aal,2018-07-01,14:23:02
912078,aal look way oversold,3,aal,2018-07-01,21:37:32

In [21]:
json_data['date'] = pd.to_datetime(json_data['timestamp']).dt.date
json_data['time'] = pd.to_datetime(json_data['timestamp']).dt.time

In [259]:
json_data.head()

,stocktwit_tweet,sentiment_score,ticker,date,time
764838,aaba option volume be x normal on friday with contract call volume be and put volume be,2,aaba,2018-07-01,00:33:49
851945,aal b enterprise value v b market cap a b difference of actual asset v market value too big a spread way undervalue,3,aal,2018-07-01,02:24:23
698796,aal in put from last week target zone marked,2,aal,2018-07-01,03:46:03
346176,aal it s undervalue but will go low,1,aal,2018-07-01,14:23:02
912078,aal look way oversold,3,aal,2018-07-01,21:37:32

In [23]:
json_data.drop(["timestamp"],axis=1,inplace=True)

In [258]:
json_data.head()

,stocktwit_tweet,sentiment_score,ticker,date,time
764838,aaba option volume be x normal on friday with contract call volume be and put volume be,2,aaba,2018-07-01,00:33:49
851945,aal b enterprise value v b market cap a b difference of actual asset v market value too big a spread way undervalue,3,aal,2018-07-01,02:24:23
698796,aal in put from last week target zone marked,2,aal,2018-07-01,03:46:03
346176,aal it s undervalue but will go low,1,aal,2018-07-01,14:23:02
912078,aal look way oversold,3,aal,2018-07-01,21:37:32

In [25]:
json_data = json_data.sort_values(by=["ticker","date"])

In [257]:
json_data.head()

,stocktwit_tweet,sentiment_score,ticker,date,time
764838,aaba option volume be x normal on friday with contract call volume be and put volume be,2,aaba,2018-07-01,00:33:49
851945,aal b enterprise value v b market cap a b difference of actual asset v market value too big a spread way undervalue,3,aal,2018-07-01,02:24:23
698796,aal in put from last week target zone marked,2,aal,2018-07-01,03:46:03
346176,aal it s undervalue but will go low,1,aal,2018-07-01,14:23:02
912078,aal look way oversold,3,aal,2018-07-01,21:37:32

In [30]:

x = json_data['stocktwit_tweet']
print(x.dtypes)
# Lemmatize with POS Tag
from nltk.corpus import wordnet
from nltk.stem.wordnet import WordNetLemmatizer
import nltk

def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    word=word.lower()
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

    return tag_dict.get(tag, wordnet.NOUN)



lemmatizer = WordNetLemmatizer()

def word_lemma(sentence):
    return [lemmatizer.lemmatize(w, get_wordnet_pos(w)) for w in nltk.word_tokenize(sentence.lower())]

json_data["stocktwit_tweet"]=x.apply(lambda x: " ".join(word_lemma(x)))

object

In [256]:
json_data.head()

,stocktwit_tweet,sentiment_score,ticker,date,time
764838,aaba option volume be x normal on friday with contract call volume be and put volume be,2,aaba,2018-07-01,00:33:49
851945,aal b enterprise value v b market cap a b difference of actual asset v market value too big a spread way undervalue,3,aal,2018-07-01,02:24:23
698796,aal in put from last week target zone marked,2,aal,2018-07-01,03:46:03
346176,aal it s undervalue but will go low,1,aal,2018-07-01,14:23:02
912078,aal look way oversold,3,aal,2018-07-01,21:37:32

In [32]:
json_data.to_csv('json_cleaned.csv',index=False)

In [33]:
json_data.to_pickle("json_train_cleaned.pkl")

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [36]:
tfidf_vectorizer = TfidfVectorizer(max_df=0.90, min_df=2, max_features=20000, stop_words='english')
tfidf = tfidf_vectorizer.fit_transform(json_data['stocktwit_tweet'])
tfidf.shape

(1039131, 20000)

In [38]:
y = json_data['sentiment_score']

In [39]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test = train_test_split(tfidf,y,stratify=y,random_state=99,
                                                 test_size=0.3)

In [40]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [41]:
y_pred = clf.predict(X_test)

In [42]:
y_pred[0:100]

array([2, 3, 4, 4, 2, 4, 2, 2, 2, 2, 3, 2, 2, 2, 3, 4, 2, 3, 2, 3, 2, 2,
       2, 2, 2, 2, 2, 4, 3, 0, 2, 3, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 3, 3, 2, 2, 3, 2, 2, 2, 4, 3, 2, 0, 2, 2, 4,
       2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 4,
       2, 2, 2, 2, 4, 2, 2, 2, 0, 2, 2, 2], dtype=int64)

In [43]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [44]:
cm = confusion_matrix(y_test,y_pred)

In [45]:
cm

array([[  8226,   1072,  13896,   3114,   1299],
       [   898,   7784,  20162,   5587,   1800],
       [   916,    756, 124989,   8972,   3688],
       [   761,   1947,  34477,  19956,   5268],
       [   199,    169,  18176,   9263,  18365]], dtype=int64)

In [46]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.75      0.30      0.43     27607
           1       0.66      0.21      0.32     36231
           2       0.59      0.90      0.71    139321
           3       0.43      0.32      0.37     62409
           4       0.60      0.40      0.48     46172

    accuracy                           0.58    311740
   macro avg       0.61      0.43      0.46    311740
weighted avg       0.58      0.58      0.54    311740

In [47]:
from sklearn.metrics import f1_score

In [48]:
tfidf_vectorizer .get_feature_names()[200:210]

['acuri',
 'ad',
 'ada',
 'adage',
 'adahbali',
 'adalimumab',
 'adallica',
 'adam',
 'adamalpha',
 'adamant']

In [49]:
f1score = f1_score(y_test,y_pred,average="macro")

In [50]:
f1score

0.46152142773463956

In [51]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver='saga',multi_class='multinomial',random_state = 0,class_weight="balanced",max_iter=400,n_jobs=2)
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=400, multi_class='multinomial', n_jobs=2,
                   penalty='l2', random_state=0, solver='saga', tol=0.0001,
                   verbose=0, warm_start=False)

In [52]:
y_pred_lr = lr.predict(X_test)

In [53]:
y_pred_lr

array([3, 0, 4, ..., 1, 2, 4], dtype=int64)

In [54]:
cm = confusion_matrix(y_test,y_pred_lr)

In [55]:
cm

array([[17773,  3591,  2759,  1693,  1791],
       [ 4661, 17529,  6338,  4841,  2862],
       [ 6915, 11183, 96121, 17499,  7603],
       [ 4936,  7602, 13798, 25904, 10169],
       [ 1849,  1663,  4344,  7350, 30966]], dtype=int64)

In [56]:
print(classification_report(y_test,y_pred_lr))

              precision    recall  f1-score   support

           0       0.49      0.64      0.56     27607
           1       0.42      0.48      0.45     36231
           2       0.78      0.69      0.73    139321
           3       0.45      0.42      0.43     62409
           4       0.58      0.67      0.62     46172

    accuracy                           0.60    311740
   macro avg       0.54      0.58      0.56    311740
weighted avg       0.62      0.60      0.61    311740

In [57]:
f1_lr = f1_score(y_test,y_pred_lr,average="macro")

In [58]:
f1_lr

0.558999959062203

####################################################################################################################

### Preprocessing on test sentiment data

In [59]:
import json
from pandas.io.json import json_normalize
with open('test_data.json') as f:
    d = json.load(f)
jsontest1 = json_normalize(d['records'])
jsontest1.head(5)

jsontest1.to_csv('jsontest1.csv',index=False)

In [60]:
json_test_data = pd.read_csv("jsontest1.csv",header =0)

In [255]:
pd.set_option('display.max_colwidth',-1)
json_test_data.head()

,stocktwit_tweet,timestamp,ticker,date,time,lr_sentiment
82783,here s what estimize analyst believe a will report for q eps reporting amc,2018-07-03 15:12:24+00:00,a,2018-07-03,15:12:24,2
224217,a new intraday low at be just reach for a,2018-07-03 16:05:02+00:00,a,2018-07-03,16:05:02,3
48594,b riley lower adamis pharmaceutical fy earnings estimate to eps previously a,2018-07-04 12:04:18+00:00,a,2018-07-04,12:04:18,1
13912,a show a strong growth in eps which be quite good,2018-07-11 05:56:03+00:00,a,2018-07-11,05:56:03,4
154800,a analyst on estimize be expect yoy eps growth for q down from in q reporting amc,2018-07-11 15:16:44+00:00,a,2018-07-11,15:16:44,1

In [62]:
json_test_data.stocktwit_tweet = json_test_data.stocktwit_tweet.apply(lambda x:str(x))

In [254]:
json_test_data.head()

,stocktwit_tweet,timestamp,ticker,date,time,lr_sentiment
82783,here s what estimize analyst believe a will report for q eps reporting amc,2018-07-03 15:12:24+00:00,a,2018-07-03,15:12:24,2
224217,a new intraday low at be just reach for a,2018-07-03 16:05:02+00:00,a,2018-07-03,16:05:02,3
48594,b riley lower adamis pharmaceutical fy earnings estimate to eps previously a,2018-07-04 12:04:18+00:00,a,2018-07-04,12:04:18,1
13912,a show a strong growth in eps which be quite good,2018-07-11 05:56:03+00:00,a,2018-07-11,05:56:03,4
154800,a analyst on estimize be expect yoy eps growth for q down from in q reporting amc,2018-07-11 15:16:44+00:00,a,2018-07-11,15:16:44,1

In [253]:
json_test_data['stocktwit_tweet'] = json_test_data['stocktwit_tweet'].str.replace('http\S*',"",case=False)
json_test_data.head()

,stocktwit_tweet,timestamp,ticker,date,time,lr_sentiment
82783,here s what estimize analyst believe a will report for q eps reporting amc,2018-07-03 15:12:24+00:00,a,2018-07-03,15:12:24,2
224217,a new intraday low at be just reach for a,2018-07-03 16:05:02+00:00,a,2018-07-03,16:05:02,3
48594,b riley lower adamis pharmaceutical fy earnings estimate to eps previously a,2018-07-04 12:04:18+00:00,a,2018-07-04,12:04:18,1
13912,a show a strong growth in eps which be quite good,2018-07-11 05:56:03+00:00,a,2018-07-11,05:56:03,4
154800,a analyst on estimize be expect yoy eps growth for q down from in q reporting amc,2018-07-11 15:16:44+00:00,a,2018-07-11,15:16:44,1

In [252]:
json_test_data.stocktwit_tweet = json_test_data.stocktwit_tweet.str.replace(r'\\\w{3}',"")
json_test_data.head()

,stocktwit_tweet,timestamp,ticker,date,time,lr_sentiment
82783,here s what estimize analyst believe a will report for q eps reporting amc,2018-07-03 15:12:24+00:00,a,2018-07-03,15:12:24,2
224217,a new intraday low at be just reach for a,2018-07-03 16:05:02+00:00,a,2018-07-03,16:05:02,3
48594,b riley lower adamis pharmaceutical fy earnings estimate to eps previously a,2018-07-04 12:04:18+00:00,a,2018-07-04,12:04:18,1
13912,a show a strong growth in eps which be quite good,2018-07-11 05:56:03+00:00,a,2018-07-11,05:56:03,4
154800,a analyst on estimize be expect yoy eps growth for q down from in q reporting amc,2018-07-11 15:16:44+00:00,a,2018-07-11,15:16:44,1

In [251]:
json_test_data.stocktwit_tweet = json_test_data.stocktwit_tweet.str.replace("[^a-zA-Z]", " ")
json_test_data.head()

,stocktwit_tweet,timestamp,ticker,date,time,lr_sentiment
82783,here s what estimize analyst believe a will report for q eps reporting amc,2018-07-03 15:12:24+00:00,a,2018-07-03,15:12:24,2
224217,a new intraday low at be just reach for a,2018-07-03 16:05:02+00:00,a,2018-07-03,16:05:02,3
48594,b riley lower adamis pharmaceutical fy earnings estimate to eps previously a,2018-07-04 12:04:18+00:00,a,2018-07-04,12:04:18,1
13912,a show a strong growth in eps which be quite good,2018-07-11 05:56:03+00:00,a,2018-07-11,05:56:03,4
154800,a analyst on estimize be expect yoy eps growth for q down from in q reporting amc,2018-07-11 15:16:44+00:00,a,2018-07-11,15:16:44,1

In [67]:
json_test_data.isnull().sum()

stocktwit_tweet    0
timestamp          0
ticker             0
dtype: int64

In [250]:
json_test_data = json_test_data.sort_values(by=['ticker','timestamp'])
json_test_data.head()

,stocktwit_tweet,timestamp,ticker,date,time,lr_sentiment
82783,here s what estimize analyst believe a will report for q eps reporting amc,2018-07-03 15:12:24+00:00,a,2018-07-03,15:12:24,2
224217,a new intraday low at be just reach for a,2018-07-03 16:05:02+00:00,a,2018-07-03,16:05:02,3
48594,b riley lower adamis pharmaceutical fy earnings estimate to eps previously a,2018-07-04 12:04:18+00:00,a,2018-07-04,12:04:18,1
13912,a show a strong growth in eps which be quite good,2018-07-11 05:56:03+00:00,a,2018-07-11,05:56:03,4
154800,a analyst on estimize be expect yoy eps growth for q down from in q reporting amc,2018-07-11 15:16:44+00:00,a,2018-07-11,15:16:44,1

In [249]:
json_test_data['ticker'] = json_test_data['ticker'].str.replace("$","")
json_test_data['stocktwit_tweet']=json_test_data['stocktwit_tweet'].str.replace("$","")
json_test_data.head()

,stocktwit_tweet,timestamp,ticker,date,time,lr_sentiment
82783,here s what estimize analyst believe a will report for q eps reporting amc,2018-07-03 15:12:24+00:00,a,2018-07-03,15:12:24,2
224217,a new intraday low at be just reach for a,2018-07-03 16:05:02+00:00,a,2018-07-03,16:05:02,3
48594,b riley lower adamis pharmaceutical fy earnings estimate to eps previously a,2018-07-04 12:04:18+00:00,a,2018-07-04,12:04:18,1
13912,a show a strong growth in eps which be quite good,2018-07-11 05:56:03+00:00,a,2018-07-11,05:56:03,4
154800,a analyst on estimize be expect yoy eps growth for q down from in q reporting amc,2018-07-11 15:16:44+00:00,a,2018-07-11,15:16:44,1

In [70]:
json_test_data['date'] = pd.to_datetime(json_test_data['timestamp']).dt.date
json_test_data['time'] = pd.to_datetime(json_test_data['timestamp']).dt.time

In [248]:
json_test_data.head()

,stocktwit_tweet,timestamp,ticker,date,time,lr_sentiment
82783,here s what estimize analyst believe a will report for q eps reporting amc,2018-07-03 15:12:24+00:00,a,2018-07-03,15:12:24,2
224217,a new intraday low at be just reach for a,2018-07-03 16:05:02+00:00,a,2018-07-03,16:05:02,3
48594,b riley lower adamis pharmaceutical fy earnings estimate to eps previously a,2018-07-04 12:04:18+00:00,a,2018-07-04,12:04:18,1
13912,a show a strong growth in eps which be quite good,2018-07-11 05:56:03+00:00,a,2018-07-11,05:56:03,4
154800,a analyst on estimize be expect yoy eps growth for q down from in q reporting amc,2018-07-11 15:16:44+00:00,a,2018-07-11,15:16:44,1

In [72]:
json_test_data['ticker'] = json_test_data['ticker'].str.lower()

In [247]:
json_test_data = json_test_data.sort_values(by=["ticker","date"])
json_test_data.head()

,stocktwit_tweet,timestamp,ticker,date,time,lr_sentiment
82783,here s what estimize analyst believe a will report for q eps reporting amc,2018-07-03 15:12:24+00:00,a,2018-07-03,15:12:24,2
224217,a new intraday low at be just reach for a,2018-07-03 16:05:02+00:00,a,2018-07-03,16:05:02,3
48594,b riley lower adamis pharmaceutical fy earnings estimate to eps previously a,2018-07-04 12:04:18+00:00,a,2018-07-04,12:04:18,1
13912,a show a strong growth in eps which be quite good,2018-07-11 05:56:03+00:00,a,2018-07-11,05:56:03,4
154800,a analyst on estimize be expect yoy eps growth for q down from in q reporting amc,2018-07-11 15:16:44+00:00,a,2018-07-11,15:16:44,1

In [75]:
x = json_test_data['stocktwit_tweet']
print(x.dtypes)
# Lemmatize with POS Tag
from nltk.corpus import wordnet
from nltk.stem.wordnet import WordNetLemmatizer
import nltk

def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    word=word.lower()
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

    return tag_dict.get(tag, wordnet.NOUN)



lemmatizer = WordNetLemmatizer()

def word_lemma(sentence):
    return [lemmatizer.lemmatize(w, get_wordnet_pos(w)) for w in nltk.word_tokenize(sentence.lower())]

json_test_data["stocktwit_tweet"]=x.apply(lambda x: " ".join(word_lemma(x)))

object

In [245]:
json_test_data.head()

,stocktwit_tweet,timestamp,ticker,date,time,lr_sentiment
82783,here s what estimize analyst believe a will report for q eps reporting amc,2018-07-03 15:12:24+00:00,a,2018-07-03,15:12:24,2
224217,a new intraday low at be just reach for a,2018-07-03 16:05:02+00:00,a,2018-07-03,16:05:02,3
48594,b riley lower adamis pharmaceutical fy earnings estimate to eps previously a,2018-07-04 12:04:18+00:00,a,2018-07-04,12:04:18,1
13912,a show a strong growth in eps which be quite good,2018-07-11 05:56:03+00:00,a,2018-07-11,05:56:03,4
154800,a analyst on estimize be expect yoy eps growth for q down from in q reporting amc,2018-07-11 15:16:44+00:00,a,2018-07-11,15:16:44,1

In [246]:
json_test_data.to_csv('json_test_cleaned.csv',index=False)

In [78]:
tfidf_test = tfidf_vectorizer.transform(json_test_data["stocktwit_tweet"])

In [79]:
lr_sentiment = lr.predict(tfidf_test)

In [80]:
json_test_data["lr_sentiment"]=lr_sentiment

In [244]:
json_test_data.head()

,stocktwit_tweet,timestamp,ticker,date,time,lr_sentiment
82783,here s what estimize analyst believe a will report for q eps reporting amc,2018-07-03 15:12:24+00:00,a,2018-07-03,15:12:24,2
224217,a new intraday low at be just reach for a,2018-07-03 16:05:02+00:00,a,2018-07-03,16:05:02,3
48594,b riley lower adamis pharmaceutical fy earnings estimate to eps previously a,2018-07-04 12:04:18+00:00,a,2018-07-04,12:04:18,1
13912,a show a strong growth in eps which be quite good,2018-07-11 05:56:03+00:00,a,2018-07-11,05:56:03,4
154800,a analyst on estimize be expect yoy eps growth for q down from in q reporting amc,2018-07-11 15:16:44+00:00,a,2018-07-11,15:16:44,1

In [82]:
json_test_data.to_pickle('json_test_cleaned.pkl')

#### Performing the preprocessing on the train.csv

In [243]:
data.head()

,Id,date,ticker,SF1,SF2,SF3,SF4,SF5,SF6,SF7,alpha,month,day,week,weekday
637,638,2018-07-03,a,1.915697,1.163520,0.327410,1.010603,-1.777404,-0.004284,0.975223,3,7,3,27,1
11980,11981,2018-07-04,a,0.714843,-0.453898,0.054959,-0.179472,-0.566941,0.706194,0.715049,1,7,4,27,2
23821,23822,2018-07-12,a,0.579957,-0.497861,0.131184,-0.413089,-0.644946,0.250135,0.716521,1,7,12,28,3
4599,4600,2018-07-16,a,1.640079,-1.645380,-0.260885,-0.848959,-0.575099,-0.106789,2.007322,2,7,16,29,0
12573,12574,2018-07-17,a,-0.754030,-1.047703,0.573857,-0.014013,-0.643502,0.020582,-0.804602,1,7,17,29,1

In [84]:
data.columns

Index(['Id', 'date', 'ticker', 'SF1', 'SF2', 'SF3', 'SF4', 'SF5', 'SF6', 'SF7',
       'alpha'],
      dtype='object')

In [85]:
data['ticker']=data['ticker'].str.replace("$","")

In [86]:
data['date'] = pd.to_datetime(data['date'].astype('str'),format="%d/%m/%y")

In [242]:
data.head()

,Id,date,ticker,SF1,SF2,SF3,SF4,SF5,SF6,SF7,alpha,month,day,week,weekday
637,638,2018-07-03,a,1.915697,1.163520,0.327410,1.010603,-1.777404,-0.004284,0.975223,3,7,3,27,1
11980,11981,2018-07-04,a,0.714843,-0.453898,0.054959,-0.179472,-0.566941,0.706194,0.715049,1,7,4,27,2
23821,23822,2018-07-12,a,0.579957,-0.497861,0.131184,-0.413089,-0.644946,0.250135,0.716521,1,7,12,28,3
4599,4600,2018-07-16,a,1.640079,-1.645380,-0.260885,-0.848959,-0.575099,-0.106789,2.007322,2,7,16,29,0
12573,12574,2018-07-17,a,-0.754030,-1.047703,0.573857,-0.014013,-0.643502,0.020582,-0.804602,1,7,17,29,1

In [88]:
data['month'] = pd.to_datetime(data['date']).dt.month
data['day'] = pd.to_datetime(data['date']).dt.day
data["week"] = pd.to_datetime(data['date']).dt.week
data["weekday"] = pd.to_datetime(data['date']).dt.weekday

In [89]:
data.head()

,Id,date,ticker,SF1,SF2,SF3,SF4,SF5,SF6,SF7,alpha,month,day,week,weekday
0,1,2018-08-21,NTAP,-0.628652,0.988891,-0.055714,0.774379,0.551089,-1.329229,-0.995539,2,8,21,34,1
1,2,2018-10-11,WYNN,1.315786,1.438754,0.187327,0.608933,-1.153030,1.859441,0.730995,3,10,11,41,3
2,3,2018-08-21,DRI,-1.141388,-1.455016,0.332755,0.674502,0.111326,-0.478597,-1.488157,1,8,21,34,1
3,4,2018-07-10,ge,-0.054839,-1.454149,-0.162267,-0.681870,0.307869,-0.529987,0.404172,2,7,10,28,1
4,5,2018-09-12,FE,-0.686366,0.838865,0.073830,0.679024,0.329463,1.262782,-1.024042,2,9,12,37,2

In [90]:
data = data.sort_values(by=['ticker','month','day'])

In [241]:
data.head()

,Id,date,ticker,SF1,SF2,SF3,SF4,SF5,SF6,SF7,alpha,month,day,week,weekday
637,638,2018-07-03,a,1.915697,1.163520,0.327410,1.010603,-1.777404,-0.004284,0.975223,3,7,3,27,1
11980,11981,2018-07-04,a,0.714843,-0.453898,0.054959,-0.179472,-0.566941,0.706194,0.715049,1,7,4,27,2
23821,23822,2018-07-12,a,0.579957,-0.497861,0.131184,-0.413089,-0.644946,0.250135,0.716521,1,7,12,28,3
4599,4600,2018-07-16,a,1.640079,-1.645380,-0.260885,-0.848959,-0.575099,-0.106789,2.007322,2,7,16,29,0
12573,12574,2018-07-17,a,-0.754030,-1.047703,0.573857,-0.014013,-0.643502,0.020582,-0.804602,1,7,17,29,1

In [92]:
data['ticker'] = data['ticker'].str.lower()

In [240]:
data.head()

,Id,date,ticker,SF1,SF2,SF3,SF4,SF5,SF6,SF7,alpha,month,day,week,weekday
637,638,2018-07-03,a,1.915697,1.163520,0.327410,1.010603,-1.777404,-0.004284,0.975223,3,7,3,27,1
11980,11981,2018-07-04,a,0.714843,-0.453898,0.054959,-0.179472,-0.566941,0.706194,0.715049,1,7,4,27,2
23821,23822,2018-07-12,a,0.579957,-0.497861,0.131184,-0.413089,-0.644946,0.250135,0.716521,1,7,12,28,3
4599,4600,2018-07-16,a,1.640079,-1.645380,-0.260885,-0.848959,-0.575099,-0.106789,2.007322,2,7,16,29,0
12573,12574,2018-07-17,a,-0.754030,-1.047703,0.573857,-0.014013,-0.643502,0.020582,-0.804602,1,7,17,29,1

In [94]:
data.to_pickle('train_data.pkl')

In [95]:
X = data[["SF1","SF2","SF3","SF4","SF5","SF6","SF7"]]
y = data[["alpha"]]

In [96]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=351)

In [97]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
train_log_reg_csv = LogisticRegression(n_jobs=4, random_state=351)
# Function to get tuned model with best parameters
C=np.logspace(-5,5,10)
penalty=['l2']
solver=['sag']
multi_class_options = ['multinomial']
class_weight_options = ['balanced']
hyperparams = dict(C=C, penalty=penalty, solver=solver, multi_class=multi_class_options, class_weight=class_weight_options)

# Instantiating the GridSearchCV object:
clf = GridSearchCV(train_log_reg_csv, n_jobs=2, param_grid = hyperparams, cv = 5, verbose=0, scoring='f1_macro')

In [98]:
clf.fit(X_train,y_train)

C:\Users\Girish\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='warn',
                                          n_jobs=4, penalty='l2',
                                          random_state=351, solver='warn',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='warn', n_jobs=2,
             param_grid={'C': array([1.00000000e-05, 1.29154967e-04, 1.66810054e-03, 2.15443469e-02,
       2.78255940e-01, 3.59381366e+00, 4.64158883e+01, 5.99484250e+02,
       7.74263683e+03, 1.00000000e+05]),
                         'class_weight': ['balanced'],
                         'multi_class': ['multinomial'], 'penalty': ['l2'],
                         'solver': ['sag']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_macro', verbose=0)

In [99]:
y_pred = clf.predict(X_test)

In [100]:
y_pred_prob = clf.predict_proba(X_test)

In [101]:
y_pred_prob

array([[0.25607173, 0.25496023, 0.24522511, 0.24374293],
       [0.24858064, 0.24861525, 0.25140864, 0.25139547],
       [0.25006969, 0.25442168, 0.24605235, 0.24945629],
       ...,
       [0.25296011, 0.25216091, 0.24793317, 0.24694581],
       [0.24646062, 0.25014493, 0.25004131, 0.25335314],
       [0.24620627, 0.24681548, 0.25315666, 0.2538216 ]])

In [102]:
cm_train = confusion_matrix(y_test,y_pred)

In [103]:
cm_train

array([[ 602,  451,  353,  329],
       [ 815, 1358,  399, 1106],
       [ 377,  437,  684,  313],
       [ 166,  685,  500,  337]], dtype=int64)

In [104]:
f1_lg = f1_score(y_test,y_pred,average="macro")

In [105]:
f1_lg

0.3201325646615532

In [106]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 250,max_depth = 20,criterion='entropy',random_state = 351)

rf.fit(X_train,y_train)

C:\Users\Girish\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=20, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=250,
                       n_jobs=None, oob_score=False, random_state=351,
                       verbose=0, warm_start=False)

In [107]:
y_pred_rf = rf.predict(X_test)

In [108]:
cm_rf = confusion_matrix(y_test,y_pred_rf)

In [109]:
cm_rf

array([[ 915,  335,  288,  197],
       [  65, 3509,   51,   53],
       [ 325,  350,  862,  274],
       [ 118,  352,  191, 1027]], dtype=int64)

In [110]:
f1_rf = f1_score(y_test,y_pred_rf,average='macro')

In [111]:
f1_rf

0.6513071128778154

In [112]:
print(classification_report(y_test,y_pred_rf))

              precision    recall  f1-score   support

           1       0.64      0.53      0.58      1735
           2       0.77      0.95      0.85      3678
           3       0.62      0.48      0.54      1811
           4       0.66      0.61      0.63      1688

    accuracy                           0.71      8912
   macro avg       0.67      0.64      0.65      8912
weighted avg       0.69      0.71      0.69      8912

In [132]:
clf_RF = RandomForestClassifier(bootstrap=True, class_weight='balanced', criterion='entropy',
                                n_estimators=400, min_samples_split= 12, max_features='log2', max_depth=300, 
                                random_state=42, n_jobs=6)


best_model_RF = clf_RF.fit(X_train, y_train)

# Predict class labels for samples in test(X), using the best model:
predict_RF = best_model_RF.predict(X_test)

# Predict probabilities of class labels for samples in test(X), using the best model:
predict_prob_RF = best_model_RF.predict_proba(X_test)

# Check classification report with default threshold value of 0.5
from sklearn.metrics import classification_report
print(classification_report(y_test,predict_RF))

C:\Users\Girish\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

              precision    recall  f1-score   support

           1       0.65      0.54      0.59      1735
           2       0.79      0.92      0.85      3678
           3       0.62      0.49      0.55      1811
           4       0.62      0.65      0.63      1688

    accuracy                           0.71      8912
   macro avg       0.67      0.65      0.66      8912
weighted avg       0.70      0.71      0.70      8912

In [133]:
f1_rf = f1_score(y_test,predict_RF,average="macro")

In [134]:
f1_rf

0.6566421691023194

#### Test data

In [141]:
test_data = pd.read_csv("test_factors.csv",header=0)

In [238]:
test_data.head()

,Id,date,ticker,SF1,SF2,SF3,SF4,SF5,SF6,SF7,month,day,week,weekday
0,270007,2018-07-21,intc,-3.062194,1.223466,1.741714,2.279266,-1.323573,-0.274912,-4.504449,7,21,29,5
1,270008,2018-10-05,ctsh,0.816263,-2.184408,0.157975,-0.264743,-0.836282,0.046276,0.826353,10,5,40,4
2,270009,2018-10-01,cb,0.401281,0.091604,0.083411,-1.147041,-0.485223,-0.601060,1.012811,10,1,40,0
3,270010,2018-10-24,ctas,-0.783521,1.192929,0.813831,-0.368166,-1.113656,-0.553581,-0.683803,10,24,43,2
4,270011,2018-07-27,intc,0.796507,0.455341,0.679032,0.354336,-1.799055,0.126153,0.297111,7,27,30,4

In [239]:
test_data.columns

Index(['Id', 'date', 'ticker', 'SF1', 'SF2', 'SF3', 'SF4', 'SF5', 'SF6', 'SF7',
       'month', 'day', 'week', 'weekday'],
      dtype='object')

In [144]:
test_data['ticker']=test_data['ticker'].str.replace("$","")
test_data['date'] = pd.to_datetime(test_data['date'].astype('str'),format="%d/%m/%y")

In [145]:
test_data['month'] = pd.to_datetime(test_data['date']).dt.month
test_data['day'] = pd.to_datetime(test_data['date']).dt.day
test_data["week"] = pd.to_datetime(test_data['date']).dt.week
test_data["weekday"] = pd.to_datetime(test_data['date']).dt.weekday

In [237]:
test_data.head()

,Id,date,ticker,SF1,SF2,SF3,SF4,SF5,SF6,SF7,month,day,week,weekday
0,270007,2018-07-21,intc,-3.062194,1.223466,1.741714,2.279266,-1.323573,-0.274912,-4.504449,7,21,29,5
1,270008,2018-10-05,ctsh,0.816263,-2.184408,0.157975,-0.264743,-0.836282,0.046276,0.826353,10,5,40,4
2,270009,2018-10-01,cb,0.401281,0.091604,0.083411,-1.147041,-0.485223,-0.601060,1.012811,10,1,40,0
3,270010,2018-10-24,ctas,-0.783521,1.192929,0.813831,-0.368166,-1.113656,-0.553581,-0.683803,10,24,43,2
4,270011,2018-07-27,intc,0.796507,0.455341,0.679032,0.354336,-1.799055,0.126153,0.297111,7,27,30,4

In [147]:
test_data['ticker'] = test_data['ticker'].str.lower()

In [236]:
test_data.head()

,Id,date,ticker,SF1,SF2,SF3,SF4,SF5,SF6,SF7,month,day,week,weekday
0,270007,2018-07-21,intc,-3.062194,1.223466,1.741714,2.279266,-1.323573,-0.274912,-4.504449,7,21,29,5
1,270008,2018-10-05,ctsh,0.816263,-2.184408,0.157975,-0.264743,-0.836282,0.046276,0.826353,10,5,40,4
2,270009,2018-10-01,cb,0.401281,0.091604,0.083411,-1.147041,-0.485223,-0.601060,1.012811,10,1,40,0
3,270010,2018-10-24,ctas,-0.783521,1.192929,0.813831,-0.368166,-1.113656,-0.553581,-0.683803,10,24,43,2
4,270011,2018-07-27,intc,0.796507,0.455341,0.679032,0.354336,-1.799055,0.126153,0.297111,7,27,30,4

In [149]:
test_data.to_pickle('test_data.pkl')

In [150]:
X2_test = test_data[["SF1","SF2","SF3","SF4","SF5","SF6","SF7"]]

In [151]:
test_pred_RF = best_model_RF.predict(X2_test)

In [152]:
test_pred_RF

array([4, 3, 2, ..., 4, 2, 1], dtype=int64)

#### Storing the results

In [153]:
yPrediction_RF = best_model_RF.predict(X2_test)

yPredData = pd.DataFrame(
    {"id":test_data.Id.values,
     "alpha":yPrediction_RF
    
})
yPredData.to_csv('DipitRandom_Forest_Prediction.csv',index=False)

### Merging the train dataset with the sentiment score

In [154]:
json_data = pd.read_pickle("json_train_cleaned.pkl")

In [155]:
train_data = pd.read_pickle('train_data.pkl')

In [156]:
json_data['date'] = pd.to_datetime(json_data['date'])

In [157]:
import datetime
def timedelta(x):
    x = datetime.timedelta(hours=x.hour, minutes=x.minute, seconds=x.second, microseconds=x.microsecond)
    return x
json_data['time'] = json_data['time'].apply(lambda x:timedelta(x))

In [158]:
json_data = json_data.sort_values(by=['date','ticker'])

In [159]:
train_data = train_data.sort_values(by=['date','ticker'])

In [166]:
train_groupby=json_data[["date","ticker","sentiment_score"]].groupby(["date","ticker"])
train_groupby.head()
data_new=pd.DataFrame(train_groupby.median())
new_df = pd.merge(train_data,data_new,how='left',right_on=["date","ticker"],left_on=["date","ticker"])

In [167]:
print(train_data.shape)
print(new_df.shape)

(27006, 15)
(27006, 16)

In [234]:
new_df.head()

,Id,date,ticker,SF1,SF2,SF3,SF4,SF5,SF6,SF7,alpha,month,day,week,weekday,sentiment_score
0,22097,2018-07-01,aapl,-0.703204,0.868280,-0.530265,1.926525,1.592222,0.232763,-1.620354,3,7,1,26,6,2.0
1,18786,2018-07-01,aapl,0.457074,-0.035889,0.158807,0.226882,-0.581905,0.011648,0.219241,4,7,1,26,6,2.0
2,15790,2018-07-01,aep,-1.303957,-0.233951,0.045317,1.511381,0.824286,0.854370,-2.052022,2,7,1,26,6,2.0
3,8624,2018-07-01,aes,0.744200,2.072823,-0.580341,-0.416194,0.635668,0.182061,1.055082,4,7,1,26,6,1.0
4,14064,2018-07-01,amgn,1.372894,-0.154942,-0.339781,-0.912614,-0.257784,-1.713210,1.834125,2,7,1,26,6,0.5

In [235]:
new_df.isnull().sum()

Id                 0
date               0
ticker             0
SF1                0
SF2                0
SF3                0
SF4                0
SF5                0
SF6                0
SF7                0
alpha              0
month              0
day                0
week               0
weekday            0
sentiment_score    0
dtype: int64

In [170]:
merged_df = new_df

In [171]:
type(merged_df)

pandas.core.frame.DataFrame

In [173]:
from sklearn.preprocessing import Imputer
import collections

imputer = Imputer(missing_values="NaN",strategy="median",axis=0)
imputer = imputer.fit(merged_df[["sentiment_score"]])
merged_df[['sentiment_score']]=imputer.transform(merged_df[['sentiment_score']])

C:\Users\Girish\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [174]:
merged_df.isna().sum()

Id                 0
date               0
ticker             0
SF1                0
SF2                0
SF3                0
SF4                0
SF5                0
SF6                0
SF7                0
alpha              0
month              0
day                0
week               0
weekday            0
sentiment_score    0
dtype: int64

In [175]:
X = merged_df[['SF1','SF2','SF3','SF4','SF5','SF6','SF7','sentiment_score']]
y = merged_df[['alpha']]

In [176]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [177]:
from sklearn.linear_model import LogisticRegression
lr_class = LogisticRegression(solver='saga',multi_class='multinomial',random_state = 0,class_weight="balanced",max_iter=200,n_jobs=2)
lr_class.fit(X_train,y_train)
lr_pred = lr_class.predict(X_test)
cm_lr = confusion_matrix(y_test,lr_pred)

C:\Users\Girish\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [178]:
print(classification_report(y_test,lr_pred))

              precision    recall  f1-score   support

           1       0.31      0.43      0.36      1661
           2       0.47      0.29      0.36      3222
           3       0.33      0.35      0.34      1694
           4       0.21      0.29      0.24      1525

    accuracy                           0.33      8102
   macro avg       0.33      0.34      0.33      8102
weighted avg       0.36      0.33      0.33      8102

In [179]:
from sklearn.metrics import f1_score
f1_lg = f1_score(y_test,lr_pred,average="macro")
f1_lg

0.3260251117043708

In [207]:
clf_RF = RandomForestClassifier(bootstrap=True, class_weight='balanced', criterion='entropy',
                                n_estimators=400, min_samples_split= 12, max_features='log2', max_depth=300, 
                                random_state=42, n_jobs=6)


best_model_RF = clf_RF.fit(X_train, y_train)

# Predict class labels for samples in test(X), using the best model:
predict_RF = best_model_RF.predict(X_test)

# Predict probabilities of class labels for samples in test(X), using the best model:
predict_prob_RF = best_model_RF.predict_proba(X_test)

# Check classification report with default threshold value of 0.5
from sklearn.metrics import classification_report
print(classification_report(y_test,predict_RF))

C:\Users\Girish\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

              precision    recall  f1-score   support

           1       0.64      0.55      0.59      1661
           2       0.80      0.92      0.85      3222
           3       0.61      0.51      0.55      1694
           4       0.62      0.65      0.63      1525

    accuracy                           0.71      8102
   macro avg       0.67      0.66      0.66      8102
weighted avg       0.70      0.71      0.70      8102

In [209]:
cm_rf = confusion_matrix(y_test,predict_RF)
cm_rf

array([[ 915,  258,  269,  219],
       [  81, 2956,   84,  101],
       [ 306,  246,  858,  284],
       [ 117,  236,  187,  985]], dtype=int64)

In [210]:
print(classification_report(y_test,predict_RF))

              precision    recall  f1-score   support

           1       0.64      0.55      0.59      1661
           2       0.80      0.92      0.85      3222
           3       0.61      0.51      0.55      1694
           4       0.62      0.65      0.63      1525

    accuracy                           0.71      8102
   macro avg       0.67      0.66      0.66      8102
weighted avg       0.70      0.71      0.70      8102

In [212]:
f1_rf = f1_score(y_test,predict_RF,average='macro')
f1_rf

0.6590863837361459

#### Test Data Merging

In [213]:
test_data = pd.read_pickle("test_data.pkl")

In [232]:
test_data.head()

,Id,date,ticker,SF1,SF2,SF3,SF4,SF5,SF6,SF7,month,day,week,weekday
0,270007,2018-07-21,intc,-3.062194,1.223466,1.741714,2.279266,-1.323573,-0.274912,-4.504449,7,21,29,5
1,270008,2018-10-05,ctsh,0.816263,-2.184408,0.157975,-0.264743,-0.836282,0.046276,0.826353,10,5,40,4
2,270009,2018-10-01,cb,0.401281,0.091604,0.083411,-1.147041,-0.485223,-0.601060,1.012811,10,1,40,0
3,270010,2018-10-24,ctas,-0.783521,1.192929,0.813831,-0.368166,-1.113656,-0.553581,-0.683803,10,24,43,2
4,270011,2018-07-27,intc,0.796507,0.455341,0.679032,0.354336,-1.799055,0.126153,0.297111,7,27,30,4

In [233]:
json_test_data = pd.read_pickle("json_test_cleaned.pkl")

In [216]:
json_test_data.dtypes

stocktwit_tweet    object
timestamp          object
ticker             object
date               object
time               object
lr_sentiment       int64
dtype: object

In [217]:
test_data.dtypes

Id         int64
date       datetime64[ns]
ticker     object
SF1        float64
SF2        float64
SF3        float64
SF4        float64
SF5        float64
SF6        float64
SF7        float64
month      int64
day        int64
week       int64
weekday    int64
dtype: object

In [218]:
json_test_data['date'] = pd.to_datetime(json_test_data['date'])

In [219]:
import datetime
def timedelta(x):
    x = datetime.timedelta(hours=x.hour, minutes=x.minute, seconds=x.second, microseconds=x.microsecond)
    return x
json_test_data['time'] = json_test_data['time'].apply(lambda x:timedelta(x))

In [220]:
json_test_data.dtypes

stocktwit_tweet    object
timestamp          object
ticker             object
date               datetime64[ns]
time               timedelta64[ns]
lr_sentiment       int64
dtype: object

In [221]:
json_test_data.head()

,stocktwit_tweet,timestamp,ticker,date,time,lr_sentiment
82783,here s what estimize analyst believe a will report for q eps reporting amc,2018-07-03 15:12:24+00:00,a,2018-07-03,15:12:24,2
224217,a new intraday low at be just reach for a,2018-07-03 16:05:02+00:00,a,2018-07-03,16:05:02,3
48594,b riley lower adamis pharmaceutical fy earnings estimate to eps previously a,2018-07-04 12:04:18+00:00,a,2018-07-04,12:04:18,1
13912,a show a strong growth in eps which be quite good,2018-07-11 05:56:03+00:00,a,2018-07-11,05:56:03,4
154800,a analyst on estimize be expect yoy eps growth for q down from in q reporting amc,2018-07-11 15:16:44+00:00,a,2018-07-11,15:16:44,1

In [222]:
json_test_data = json_test_data.sort_values(by=['date','ticker'])

In [223]:
test_groupby=json_test_data[["date","ticker","lr_sentiment"]].groupby(["date","ticker"])
test_groupby.head()
data_test_new=pd.DataFrame(test_groupby.median())
new_test_df = pd.merge(test_data,data_test_new,how='left',right_on=["date","ticker"],left_on=["date","ticker"])

In [224]:
print(test_data.shape)
print(new_test_df.shape)

(11575, 14)
(11575, 15)

In [225]:
merged_test_df = new_test_df

In [267]:
merged_test_df.head()

,Id,date,ticker,SF1,SF2,SF3,SF4,SF5,SF6,SF7,month,day,week,weekday,lr_sentiment
0,270007,2018-07-21,intc,-3.062194,1.223466,1.741714,2.279266,-1.323573,-0.274912,-4.504449,7,21,29,5,3.0
1,270008,2018-10-05,ctsh,0.816263,-2.184408,0.157975,-0.264743,-0.836282,0.046276,0.826353,10,5,40,4,3.0
2,270009,2018-10-01,cb,0.401281,0.091604,0.083411,-1.147041,-0.485223,-0.601060,1.012811,10,1,40,0,2.0
3,270010,2018-10-24,ctas,-0.783521,1.192929,0.813831,-0.368166,-1.113656,-0.553581,-0.683803,10,24,43,2,2.5
4,270011,2018-07-27,intc,0.796507,0.455341,0.679032,0.354336,-1.799055,0.126153,0.297111,7,27,30,4,2.0

In [227]:
Xtest = merged_test_df[['SF1','SF2','SF3','SF4','SF5','SF6','SF7','lr_sentiment']]

In [228]:
test_rf = best_model_RF.predict(Xtest)

In [229]:
test_rf

array([4, 3, 2, ..., 4, 2, 1], dtype=int64)

#### Storing the predictions

In [230]:
TestPrediction_RF = best_model_RF.predict(testX)

TestPredData = pd.DataFrame(
    {"id":test_data.Id.values,
     "alpha":TestPrediction_RF
    
})
TestPredData.to_csv('DipitTest.csv',index=False)

In [231]:
TestPrediction_RF

array([4, 3, 2, ..., 4, 2, 1], dtype=int64)